<!-- views/partials/footer.ejs -->

<h6 style="text-align: center;" class="text-muted"><br />FRC Team 118: The Robonauts<br />© Copyright 2019</h6>

<script type="text/javascript">
  jQuery(document).ready(function($) {
    $(".clickable-row").click(function() {
        window.document.location = $(this).data("href");
    });
  });
</script>
