<!-- views/partials/head.ejs -->

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<title>FRC Scout</title>

<!-- CSS -->
<link rel="stylesheet" href="../stylesheets/bootstrap-theme.css">
<link rel="stylesheet" href="../stylesheets/bootstrap.css">
<link rel="stylesheet" href="../stylesheets/style.css">



<script src="../js/Chart.js"></script>

<!-- jQuery -->
<script src="../js/jquery.js"></script>

<!-- <script src="../js/react.js"></script>
<script src="../js/react-dom.js"></script>
<script src="../js/babel.js"></script> -->

<!-- Bootstrap Core JavaScript -->
<script src="../js/bootstrap.bundle.min.js"></script>