<!-- views/partials/header.ejs -->

<nav class="navbar fixed-top navbar-expand-lg navbar-dark" style="background-color: #000000">
  <a class="navbar-brand" href="/">
    <img src="../images/favicon.ico" width="30" height="30" class="d-inline-block align-top" style="margin-top: -1px;" />
    118 Scouting Database
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="container">
    <div class="collapse navbar-collapse" id="navbarContent">
      <ul class="nav navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/data-entry">Data Entry</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/driver-entry">Driver/Pit Entry</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/alliance-gen">Alliance</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/matches">Matches</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/sql">SQL</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/event">Events</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
