<!-- views/pages/alliance.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container-fluid">
  <header>
    <% include ../partials/header %>
  </header>

  <main style="margin-top: 80px; font-size: 14px;">
    <h3><center>Optimized Alliance Score: <%= opt_alliance_score %></center></h3>
    <div class="row">
      <div class="row">
        <div id="team1" style="padding-left: 30px; padding-right: 0px;" class="col">
          <div class="row">
            <div class="col">
              <h2>
                <strong><center><%= team_1.team_num %> - <%= team_1.team_name %></center></strong>
                <!-- <br /> -->
              </h2>
            </div>
          </div>
          <div class="col">
            <h3><u>Priority Data</u></h3>
            <table class="table">
              <tr>
                <td><div style="margin-top:0;">50% H/C Pt. Swing: <%= pt_swing_50_1 %></div></td>
                <td style="text-align:right;"><div style="margin-top:0;">0% H/C Pt. Swing: <%= pt_swing_0_1 %></div></td>
              </tr>
              <tr>
                <td><div style="margin-top:0;">Auto Hatches Made: <%= team_1.avg_auto_hatch_made %></div></td>
                <td style="text-align:right;"><div style="margin-top:0;">Auto Cargo Made: <%= team_1.avg_auto_cargo_made %></div></td>
              </tr>
              <tr>
                <td><div style="margin-top:0;">Tele Hatches Made: <%= team_1.avg_tele_hatch_made %></div></td>
                <td style="text-align:right;"><div style="margin-top:0;">Tele Cargo Made: <%= team_1.avg_tele_cargo_made %></div></td>
              </tr>
              <tr>
                <td><div style="margin-top:0;">Auto Cross Pts.: <%= team_1.avg_auto_cross_points %></div></td>
                <td style="text-align:right;"><div style="margin-top:0;">Tele H/C Pts.: <%= team_1.avg_tele_hatch_cargo_points %></div></td>
              </tr>
              <tr>
                <td><div style="margin-top:0;">Tele Climb Pts.: <%= team_1.avg_tele_climb_points %></div></td>
                <td style="text-align:right;"><div style="margin-top:0;">Net Contrib. Pts.: <%= team_1.avg_contributed_offense+team_1.avg_contributed_defense-team_1.avg_defense_points_lost %></div></td>
              </tr>
              <tr>
                <td><div style="margin-top:0;">Driver Rating: <%= team_1.avg_driver_rating %></div></td>
                <td style="text-align:right;"><div style="margin-top:0;">Comm. Deaths: <%= team_1.tot_tele_deaths %></div></td>
              </tr>
            </table>
            <h3><u>Auton Description Table</u></h3>
            <%- team_1.auto_desc_table %>
          </div>
          <div class="col">
            <h3><u>Autonomous Data</u></h3>
            <table class="table">
              <tr>
                <td><div style="margin-top:0;">L/M/R Starts: <%= team_1.tot_auto_start_left %> / <%= team_1.tot_auto_start_center %> / <%= team_1.tot_auto_start_right %></div></td>
                <td style="text-align:right;"><div style="margin-top:0;">Auton/Hybrid Mode: <%= team_1.tot_auto_mode_auton %> / <%= team_1.tot_auto_mode_hybrid %></div></td>
              </tr>
              <tr>
                <td><div style="margin-top:0;">Off Level One: <%= team_1.tot_auto_off_level_one %></div></td>
                <td style="text-align:right;"><div style="margin-top:0;">Off Level Two: <%= team_1.tot_auto_off_level_two %></div></td>
              </tr>
              <tr>
                <td><div style="margin-top:0;">H. HP Intake: <%= team_1.tot_auto_hatch_hp_intake_made %> / <%= team_1.tot_auto_hatch_hp_intake_attempts %></div></td>
                <td style="text-align:right;"><div style="margin-top:0;">H. Floor Intake: <%= team_1.tot_auto_hatch_floor_intake_made %> / <%= team_1.tot_auto_hatch_floor_intake_attempts %></div></td>
              </tr>
              <tr>
                <td><div style="margin-top:0;">C. Floor Intake: <%= team_1.tot_auto_cargo_floor_intake_made %> / <%= team_1.tot_auto_cargo_floor_intake_attempts %></div></td>
                <td style="text-align:right;"><div style="margin-top:0;">C. Depot Intake: <%= team_1.tot_auto_cargo_depot_intake_made %> / <%= team_1.tot_auto_cargo_depot_intake_attempts %></div></td>
              </tr>
              <tr>
                <td><div style="margin-top:0;">H. Rocket Low: <%= team_1.tot_auto_hatch_rocket_low_made %> / <%= team_1.tot_auto_hatch_rocket_low_attempts %></div></td>
                <td style="text-align:right;"><div style="margin-top:0;">H. Rocket Medium: <%= team_1.tot_auto_hatch_rocket_med_made %> / <%= team_1.tot_auto_hatch_rocket_med_attempts %></div></td>
              </tr>
              <tr>
                <td><div style="margin-top:0;">H. Rocket High: <%= team_1.tot_auto_hatch_rocket_high_made %> / <%= team_1.tot_auto_hatch_rocket_high_attempts %></div></td>
                <td style="text-align:right;"><div style="margin-top:0;">H. Cargo Ship: <%= team_1.tot_auto_hatch_ship_made %> / <%= team_1.tot_auto_hatch_ship_attempts %></div></td>
              </tr>
              <tr>
                <td><div style="margin-top:0;">H. Int. Drops: <%= team_1.tot_auto_hatch_int_drops %></div></td>
                <td style="text-align:right;"><div style="margin-top:0;">H. Knockouts: <%= team_1.tot_auto_hatch_knockouts %></div></td>
              </tr>
              <tr>
                <td><div style="margin-top:0;">C. Rocket Low: <%= team_1.tot_auto_cargo_rocket_low_made %> / <%= team_1.tot_auto_cargo_rocket_low_attempts %></div></td>
                <td style="text-align:right;"><div style="margin-top:0;">C. Rocket Medium: <%= team_1.tot_auto_cargo_rocket_med_made %> / <%= team_1.tot_auto_cargo_rocket_med_attempts %></div></td>
              </tr>
              <tr>
                <td><div style="margin-top:0;">C. Rocket High: <%= team_1.tot_auto_cargo_rocket_high_made %> / <%= team_1.tot_auto_cargo_rocket_high_attempts %></div></td>
                <td style="text-align:right;"><div style="margin-top:0;">C. Cargo Ship: <%= team_1.tot_auto_cargo_ship_made %> / <%= team_1.tot_auto_cargo_ship_attempts %></div></td>
              </tr>
              <tr>
                <td><div style="margin-top:0;">C. Int. Drops: <%= team_1.tot_auto_cargo_int_drops %></div></td>
                <td style="text-align:right;"><div style="margin-top:0;">C. Knockouts: <%= team_1.tot_auto_cargo_knockouts %></div></td>
              </tr>
            </table>
            <h3><u>Teleop Data</u></h3>
            <table class="table">
              <tr>
                <td><div style="margin-top:0;">H. HP Intake: <%= team_1.avg_tele_hatch_hp_intake_made %> / <%= team_1.avg_tele_hatch_hp_intake_attempts %></div></td>
                <td style="text-align:right;"><div style="margin-top:0;">H. Floor Intake: <%= team_1.avg_tele_hatch_floor_intake_made %> / <%= team_1.avg_tele_hatch_floor_intake_attempts %></div></td>
              </tr>
              <tr>
                <td><div style="margin-top:0;">C. HP Intake: <%= team_1.avg_tele_cargo_hp_intake_made %> / <%= team_1.avg_tele_cargo_hp_intake_attempts %></div></td>
                <td style="text-align:right;"><div style="margin-top:0;">C. Floor Intake: <%= team_1.avg_tele_cargo_floor_intake_made %> / <%= team_1.avg_tele_cargo_floor_intake_attempts %></div></td>
              </tr>
              <tr>
                <td><div style="margin-top:0;">C. Depot Intake: <%= team_1.avg_tele_cargo_depot_intake_made %> / <%= team_1.avg_tele_cargo_depot_intake_attempts %></div></td>
                <td />
              </tr>
              <tr>
                <td><div style="margin-top:0;">H. Rocket Low: <%= team_1.avg_tele_hatch_rocket_low_made %> / <%= team_1.avg_tele_hatch_rocket_low_attempts %></div></td>
                <td style="text-align:right;"><div style="margin-top:0;">H. Rocket Medium: <%= team_1.avg_tele_hatch_rocket_med_made %> / <%= team_1.avg_tele_hatch_rocket_med_attempts %></div></td>
              </tr>
              <tr>
                <td><div style="margin-top:0;">H. Rocket High: <%= team_1.avg_tele_hatch_rocket_high_made %> / <%= team_1.avg_tele_hatch_rocket_high_attempts %></div></td>
                <td style="text-align:right;"><div style="margin-top:0;">H. Cargo Ship: <%= team_1.avg_tele_hatch_ship_made %> / <%= team_1.avg_tele_hatch_ship_attempts %></div></td>
              </tr>
              <tr>
                <td><div style="margin-top:0;">H. Int. Drops: <%= team_1.avg_tele_hatch_int_drops %></div></td>
                <td style="text-align:right;"><div style="margin-top:0;">H. Knockouts: <%= team_1.avg_tele_hatch_knockouts %></div></td>
              </tr>
              <tr>
                <td><div style="margin-top:0;">C. Rocket Low: <%= team_1.avg_tele_cargo_rocket_low_made %> / <%= team_1.avg_tele_cargo_rocket_low_attempts %></div></td>
                <td style="text-align:right;"><div style="margin-top:0;">C. Rocket Medium: <%= team_1.avg_tele_cargo_rocket_med_made %> / <%= team_1.avg_tele_cargo_rocket_med_attempts %></div></td>
              </tr>
              <tr>
                <td><div style="margin-top:0;">C. Rocket High: <%= team_1.avg_tele_cargo_rocket_high_made %> / <%= team_1.avg_tele_cargo_rocket_high_attempts %></div></td>
                <td style="text-align:right;"><div style="margin-top:0;">C. Cargo Ship: <%= team_1.avg_tele_cargo_ship_made %> / <%= team_1.avg_tele_cargo_ship_attempts %></div></td>
              </tr>
              <tr>
                <td><div style="margin-top:0;">C. Int. Drops: <%= team_1.avg_tele_cargo_int_drops %></div></td>
                <td style="text-align:right;"><div style="margin-top:0;">C. Knockouts: <%= team_1.avg_tele_cargo_knockouts %></div></td>
              </tr>
              <tr>
                <td><div style="margin-top:0;">Climb Level One: <%= team_1.tot_tele_climb_level_one_made %> / <%= team_1.tot_tele_climb_level_one_attempts %></div></td>
                <td style="text-align:right;"><div style="margin-top:0;">Climb Level Two: <%= team_1.tot_tele_climb_level_two_made %> / <%= team_1.tot_tele_climb_level_two_attempts %></div></td>
              </tr>
              <tr>
                <td><div style="margin-top:0;">Climb Level Three: <%= team_1.tot_tele_climb_level_three_made %> / <%= team_1.tot_tele_climb_level_three_attempts %></div></td>
                <td style="text-align:right;"><div style="margin-top:0;">Assisted Climb: <%= team_1.tot_tele_climb_assisted %></div></td>
              </tr>
              <tr>
                <td><div style="margin-top:0;">Start Time: <%= team_1.avg_tele_climb_start_time %></div></td>
                <td style="text-align:right;"><div style="margin-top:0;">Elapsed Time: <%= team_1.avg_tele_climb_elapsed_time %></div></td>
              </tr>
              <tr>
                <td><div style="margin-top:0;">Level Two Assist: <%= team_1.tot_tele_climb_assist_level_two_made %> / <%= team_1.tot_tele_climb_assist_level_two_attempts %></div></td>
                <td style="text-align:right;"><div style="margin-top:0;">Level Three Assist: <%= team_1.tot_tele_climb_assist_level_three_made %> / <%= team_1.tot_tele_climb_assist_level_three_attempts %></div></td>
              </tr>
              <tr>
                <td><div style="margin-top:0;">Driver Rating: <%= team_1.avg_driver_rating %></div></td>
                <td style="text-align:right;"><div style="margin-top:0;">Defense Rating: <%= team_1.avg_defense_rating %></div></td>
              </tr>
              <tr>
                <td><div style="margin-top:0;">Contrib. Offense: <%= team_1.avg_contributed_offense %></div></td>
                <td style="text-align:right;"><div style="margin-top:0;">Contrib. Defense: <%= team_1.avg_contributed_defense %></div></td>
              </tr>
              <tr>
                <td><div style="margin-top:0;">Pts. Lost to D: <%= team_1.avg_defense_points_lost %></div></td>
                <td style="text-align:right;"><div style="margin-top:0;">Net Contrib. Pts.: <%= team_1.avg_contributed_offense+team_1.avg_contributed_defense-team_1.avg_defense_points_lost %></div></td>
              </tr>
            </table>
          </div>
        </div>

        <div id="team2" style="padding-left: 0px; padding-right: 0px;" class="col">
          <div class="row">
            <div class="col">
              <h2>
                <strong><center><%= team_2.team_num %> - <%= team_2.team_name %></center></strong>
                <!-- <br /> -->
              </h2>
            </div>
          </div>
          <div class="col">
            <h3><u>Priority Data</u></h3>
            <table class="table">
              <tr>
                <td><div style="margin-top:0;">50% H/C Pt. Swing: <%= pt_swing_50_2 %></div></td>
                <td style="text-align:right;"><div style="margin-top:0;">0% H/C Pt. Swing: <%= pt_swing_0_2 %></div></td>
              </tr>
              <tr>
                <td><div style="margin-top:0;">Auto Hatches Made: <%= team_2.avg_auto_hatch_made %></div></td>
                <td style="text-align:right;"><div style="margin-top:0;">Auto Cargo Made: <%= team_2.avg_auto_cargo_made %></div></td>
              </tr>
              <tr>
                <td><div style="margin-top:0;">Tele Hatches Made: <%= team_2.avg_tele_hatch_made %></div></td>
                <td style="text-align:right;"><div style="margin-top:0;">Tele Cargo Made: <%= team_2.avg_tele_cargo_made %></div></td>
              </tr>
              <tr>
                <td><div style="margin-top:0;">Auto Cross Pts.: <%= team_2.avg_auto_cross_points %></div></td>
                <td style="text-align:right;"><div style="margin-top:0;">Tele H/C Pts.: <%= team_2.avg_tele_hatch_cargo_points %></div></td>
              </tr>
              <tr>
                <td><div style="margin-top:0;">Tele Climb Pts.: <%= team_2.avg_tele_climb_points %></div></td>
                <td style="text-align:right;"><div style="margin-top:0;">Net Contrib. Pts.: <%= team_2.avg_contributed_offense+team_2.avg_contributed_defense-team_2.avg_defense_points_lost %></div></td>
              </tr>
              <tr>
                <td><div style="margin-top:0;">Driver Rating: <%= team_2.avg_driver_rating %></div></td>
                <td style="text-align:right;"><div style="margin-top:0;">Comm. Deaths: <%= team_2.tot_tele_deaths %></div></td>
              </tr>
            </table>
            <h3><u>Auton Description Table</u></h3>
            <%- team_2.auto_desc_table %>
          </div>
          <div class="col">
            <h3><u>Autonomous Data</u></h3>
            <table class="table">
              <tr>
                <td><div style="margin-top:0;">L/M/R Starts: <%= team_2.tot_auto_start_left %> / <%= team_2.tot_auto_start_center %> / <%= team_2.tot_auto_start_right %></div></td>
                <td style="text-align:right;"><div style="margin-top:0;">Auton/Hybrid Mode: <%= team_2.tot_auto_mode_auton %> / <%= team_2.tot_auto_mode_hybrid %></div></td>
              </tr>
              <tr>
                <td><div style="margin-top:0;">Off Level One: <%= team_2.tot_auto_off_level_one %></div></td>
                <td style="text-align:right;"><div style="margin-top:0;">Off Level Two: <%= team_2.tot_auto_off_level_two %></div></td>
              </tr>
              <tr>
                <td><div style="margin-top:0;">H. HP Intake: <%= team_2.tot_auto_hatch_hp_intake_made %> / <%= team_2.tot_auto_hatch_hp_intake_attempts %></div></td>
                <td style="text-align:right;"><div style="margin-top:0;">H. Floor Intake: <%= team_2.tot_auto_hatch_floor_intake_made %> / <%= team_2.tot_auto_hatch_floor_intake_attempts %></div></td>
              </tr>
              <tr>
                <td><div style="margin-top:0;">C. Floor Intake: <%= team_2.tot_auto_cargo_floor_intake_made %> / <%= team_2.tot_auto_cargo_floor_intake_attempts %></div></td>
                <td style="text-align:right;"><div style="margin-top:0;">C. Depot Intake: <%= team_2.tot_auto_cargo_depot_intake_made %> / <%= team_2.tot_auto_cargo_depot_intake_attempts %></div></td>
              </tr>
              <tr>
                <td><div style="margin-top:0;">H. Rocket Low: <%= team_2.tot_auto_hatch_rocket_low_made %> / <%= team_2.tot_auto_hatch_rocket_low_attempts %></div></td>
                <td style="text-align:right;"><div style="margin-top:0;">H. Rocket Medium: <%= team_2.tot_auto_hatch_rocket_med_made %> / <%= team_2.tot_auto_hatch_rocket_med_attempts %></div></td>
              </tr>
              <tr>
                <td><div style="margin-top:0;">H. Rocket High: <%= team_2.tot_auto_hatch_rocket_high_made %> / <%= team_2.tot_auto_hatch_rocket_high_attempts %></div></td>
                <td style="text-align:right;"><div style="margin-top:0;">H. Cargo Ship: <%= team_2.tot_auto_hatch_ship_made %> / <%= team_2.tot_auto_hatch_ship_attempts %></div></td>
              </tr>
              <tr>
                <td><div style="margin-top:0;">H. Int. Drops: <%= team_2.tot_auto_hatch_int_drops %></div></td>
                <td style="text-align:right;"><div style="margin-top:0;">H. Knockouts: <%= team_2.tot_auto_hatch_knockouts %></div></td>
              </tr>
              <tr>
                <td><div style="margin-top:0;">C. Rocket Low: <%= team_2.tot_auto_cargo_rocket_low_made %> / <%= team_2.tot_auto_cargo_rocket_low_attempts %></div></td>
                <td style="text-align:right;"><div style="margin-top:0;">C. Rocket Medium: <%= team_2.tot_auto_cargo_rocket_med_made %> / <%= team_2.tot_auto_cargo_rocket_med_attempts %></div></td>
              </tr>
              <tr>
                <td><div style="margin-top:0;">C. Rocket High: <%= team_2.tot_auto_cargo_rocket_high_made %> / <%= team_2.tot_auto_cargo_rocket_high_attempts %></div></td>
                <td style="text-align:right;"><div style="margin-top:0;">C. Cargo Ship: <%= team_2.tot_auto_cargo_ship_made %> / <%= team_2.tot_auto_cargo_ship_attempts %></div></td>
              </tr>
              <tr>
                <td><div style="margin-top:0;">C. Int. Drops: <%= team_2.tot_auto_cargo_int_drops %></div></td>
                <td style="text-align:right;"><div style="margin-top:0;">C. Knockouts: <%= team_2.tot_auto_cargo_knockouts %></div></td>
              </tr>
            </table>
            <h3><u>Teleop Data</u></h3>
            <table class="table">
              <tr>
                <td><div style="margin-top:0;">H. HP Intake: <%= team_2.avg_tele_hatch_hp_intake_made %> / <%= team_2.avg_tele_hatch_hp_intake_attempts %></div></td>
                <td style="text-align:right;"><div style="margin-top:0;">H. Floor Intake: <%= team_2.avg_tele_hatch_floor_intake_made %> / <%= team_2.avg_tele_hatch_floor_intake_attempts %></div></td>
              </tr>
              <tr>
                <td><div style="margin-top:0;">C. HP Intake: <%= team_2.avg_tele_cargo_hp_intake_made %> / <%= team_2.avg_tele_cargo_hp_intake_attempts %></div></td>
                <td style="text-align:right;"><div style="margin-top:0;">C. Floor Intake: <%= team_2.avg_tele_cargo_floor_intake_made %> / <%= team_2.avg_tele_cargo_floor_intake_attempts %></div></td>
              </tr>
              <tr>
                <td><div style="margin-top:0;">C. Depot Intake: <%= team_2.avg_tele_cargo_depot_intake_made %> / <%= team_2.avg_tele_cargo_depot_intake_attempts %></div></td>
                <td />
              </tr>
              <tr>
                <td><div style="margin-top:0;">H. Rocket Low: <%= team_2.avg_tele_hatch_rocket_low_made %> / <%= team_2.avg_tele_hatch_rocket_low_attempts %></div></td>
                <td style="text-align:right;"><div style="margin-top:0;">H. Rocket Medium: <%= team_2.avg_tele_hatch_rocket_med_made %> / <%= team_2.avg_tele_hatch_rocket_med_attempts %></div></td>
              </tr>
              <tr>
                <td><div style="margin-top:0;">H. Rocket High: <%= team_2.avg_tele_hatch_rocket_high_made %> / <%= team_2.avg_tele_hatch_rocket_high_attempts %></div></td>
                <td style="text-align:right;"><div style="margin-top:0;">H. Cargo Ship: <%= team_2.avg_tele_hatch_ship_made %> / <%= team_2.avg_tele_hatch_ship_attempts %></div></td>
              </tr>
              <tr>
                <td><div style="margin-top:0;">H. Int. Drops: <%= team_2.avg_tele_hatch_int_drops %></div></td>
                <td style="text-align:right;"><div style="margin-top:0;">H. Knockouts: <%= team_2.avg_tele_hatch_knockouts %></div></td>
              </tr>
              <tr>
                <td><div style="margin-top:0;">C. Rocket Low: <%= team_2.avg_tele_cargo_rocket_low_made %> / <%= team_2.avg_tele_cargo_rocket_low_attempts %></div></td>
                <td style="text-align:right;"><div style="margin-top:0;">C. Rocket Medium: <%= team_2.avg_tele_cargo_rocket_med_made %> / <%= team_2.avg_tele_cargo_rocket_med_attempts %></div></td>
              </tr>
              <tr>
                <td><div style="margin-top:0;">C. Rocket High: <%= team_2.avg_tele_cargo_rocket_high_made %> / <%= team_2.avg_tele_cargo_rocket_high_attempts %></div></td>
                <td style="text-align:right;"><div style="margin-top:0;">C. Cargo Ship: <%= team_2.avg_tele_cargo_ship_made %> / <%= team_2.avg_tele_cargo_ship_attempts %></div></td>
              </tr>
              <tr>
                <td><div style="margin-top:0;">C. Int. Drops: <%= team_2.avg_tele_cargo_int_drops %></div></td>
                <td style="text-align:right;"><div style="margin-top:0;">C. Knockouts: <%= team_2.avg_tele_cargo_knockouts %></div></td>
              </tr>
              <tr>
                <td><div style="margin-top:0;">Climb Level One: <%= team_2.tot_tele_climb_level_one_made %> / <%= team_2.tot_tele_climb_level_one_attempts %></div></td>
                <td style="text-align:right;"><div style="margin-top:0;">Climb Level Two: <%= team_2.tot_tele_climb_level_two_made %> / <%= team_2.tot_tele_climb_level_two_attempts %></div></td>
              </tr>
              <tr>
                <td><div style="margin-top:0;">Climb Level Three: <%= team_2.tot_tele_climb_level_three_made %> / <%= team_2.tot_tele_climb_level_three_attempts %></div></td>
                <td style="text-align:right;"><div style="margin-top:0;">Assisted Climb: <%= team_2.tot_tele_climb_assisted %></div></td>
              </tr>
              <tr>
                <td><div style="margin-top:0;">Start Time: <%= team_2.avg_tele_climb_start_time %></div></td>
                <td style="text-align:right;"><div style="margin-top:0;">Elapsed Time: <%= team_2.avg_tele_climb_elapsed_time %></div></td>
              </tr>
              <tr>
                <td><div style="margin-top:0;">Level Two Assist: <%= team_2.tot_tele_climb_assist_level_two_made %> / <%= team_2.tot_tele_climb_assist_level_two_attempts %></div></td>
                <td style="text-align:right;"><div style="margin-top:0;">Level Three Assist: <%= team_2.tot_tele_climb_assist_level_three_made %> / <%= team_2.tot_tele_climb_assist_level_three_attempts %></div></td>
              </tr>
              <tr>
                <td><div style="margin-top:0;">Driver Rating: <%= team_2.avg_driver_rating %></div></td>
                <td style="text-align:right;"><div style="margin-top:0;">Defense Rating: <%= team_2.avg_defense_rating %></div></td>
              </tr>
              <tr>
                <td><div style="margin-top:0;">Contrib. Offense: <%= team_2.avg_contributed_offense %></div></td>
                <td style="text-align:right;"><div style="margin-top:0;">Contrib. Defense: <%= team_2.avg_contributed_defense %></div></td>
              </tr>
              <tr>
                <td><div style="margin-top:0;">Pts. Lost to D: <%= team_2.avg_defense_points_lost %></div></td>
                <td style="text-align:right;"><div style="margin-top:0;">Net Contrib. Pts.: <%= team_2.avg_contributed_offense+team_2.avg_contributed_defense-team_2.avg_defense_points_lost %></div></td>
              </tr>
            </table>
          </div>
        </div>

        <div id="team3"  style="padding-left: 0px; padding-right: 30px;" class="col">
          <div class="row">
            <div class="col">
              <h2>
                <strong><center><%= team_3.team_num %> - <%= team_3.team_name %></center></strong>
                <!-- <br /> -->
              </h2>
            </div>
          </div>
          <div class="col">
            <h3><u>Priority Data</u></h3>
            <table class="table">
              <tr>
                <td><div style="margin-top:0;">50% H/C Pt. Swing: <%= pt_swing_50_3 %></div></td>
                <td style="text-align:right;"><div style="margin-top:0;">0% H/C Pt. Swing: <%= pt_swing_0_3 %></div></td>
              </tr>
              <tr>
                <td><div style="margin-top:0;">Auto Hatches Made: <%= team_3.avg_auto_hatch_made %></div></td>
                <td style="text-align:right;"><div style="margin-top:0;">Auto Cargo Made: <%= team_3.avg_auto_cargo_made %></div></td>
              </tr>
              <tr>
                <td><div style="margin-top:0;">Tele Hatches Made: <%= team_3.avg_tele_hatch_made %></div></td>
                <td style="text-align:right;"><div style="margin-top:0;">Tele Cargo Made: <%= team_3.avg_tele_cargo_made %></div></td>
              </tr>
              <tr>
                <td><div style="margin-top:0;">Auto Cross Pts.: <%= team_3.avg_auto_cross_points %></div></td>
                <td style="text-align:right;"><div style="margin-top:0;">Tele H/C Pts.: <%= team_3.avg_tele_hatch_cargo_points %></div></td>
              </tr>
              <tr>
                <td><div style="margin-top:0;">Tele Climb Pts.: <%= team_3.avg_tele_climb_points %></div></td>
                <td style="text-align:right;"><div style="margin-top:0;">Net Contrib. Pts.: <%= team_3.avg_contributed_offense+team_3.avg_contributed_defense-team_3.avg_defense_points_lost %></div></td>
              </tr>
              <tr>
                <td><div style="margin-top:0;">Driver Rating: <%= team_3.avg_driver_rating %></div></td>
                <td style="text-align:right;"><div style="margin-top:0;">Comm. Deaths: <%= team_3.tot_tele_deaths %></div></td>
              </tr>
            </table>
            <h3><u>Auton Description Table</u></h3>
            <%- team_3.auto_desc_table %>
          </div>
          <div class="col">
            <h3><u>Autonomous Data</u></h3>
            <table class="table">
              <tr>
                <td><div style="margin-top:0;">L/M/R Starts: <%= team_3.tot_auto_start_left %> / <%= team_3.tot_auto_start_center %> / <%= team_3.tot_auto_start_right %></div></td>
                <td style="text-align:right;"><div style="margin-top:0;">Auton/Hybrid Mode: <%= team_3.tot_auto_mode_auton %> / <%= team_3.tot_auto_mode_hybrid %></div></td>
              </tr>
              <tr>
                <td><div style="margin-top:0;">Off Level One: <%= team_3.tot_auto_off_level_one %></div></td>
                <td style="text-align:right;"><div style="margin-top:0;">Off Level Two: <%= team_3.tot_auto_off_level_two %></div></td>
              </tr>
              <tr>
                <td><div style="margin-top:0;">H. HP Intake: <%= team_3.tot_auto_hatch_hp_intake_made %> / <%= team_3.tot_auto_hatch_hp_intake_attempts %></div></td>
                <td style="text-align:right;"><div style="margin-top:0;">H. Floor Intake: <%= team_3.tot_auto_hatch_floor_intake_made %> / <%= team_3.tot_auto_hatch_floor_intake_attempts %></div></td>
              </tr>
              <tr>
                <td><div style="margin-top:0;">C. Floor Intake: <%= team_3.tot_auto_cargo_floor_intake_made %> / <%= team_3.tot_auto_cargo_floor_intake_attempts %></div></td>
                <td style="text-align:right;"><div style="margin-top:0;">C. Depot Intake: <%= team_3.tot_auto_cargo_depot_intake_made %> / <%= team_3.tot_auto_cargo_depot_intake_attempts %></div></td>
              </tr>
              <tr>
                <td><div style="margin-top:0;">H. Rocket Low: <%= team_3.tot_auto_hatch_rocket_low_made %> / <%= team_3.tot_auto_hatch_rocket_low_attempts %></div></td>
                <td style="text-align:right;"><div style="margin-top:0;">H. Rocket Medium: <%= team_3.tot_auto_hatch_rocket_med_made %> / <%= team_3.tot_auto_hatch_rocket_med_attempts %></div></td>
              </tr>
              <tr>
                <td><div style="margin-top:0;">H. Rocket High: <%= team_3.tot_auto_hatch_rocket_high_made %> / <%= team_3.tot_auto_hatch_rocket_high_attempts %></div></td>
                <td style="text-align:right;"><div style="margin-top:0;">H. Cargo Ship: <%= team_3.tot_auto_hatch_ship_made %> / <%= team_3.tot_auto_hatch_ship_attempts %></div></td>
              </tr>
              <tr>
                <td><div style="margin-top:0;">H. Int. Drops: <%= team_3.tot_auto_hatch_int_drops %></div></td>
                <td style="text-align:right;"><div style="margin-top:0;">H. Knockouts: <%= team_3.tot_auto_hatch_knockouts %></div></td>
              </tr>
              <tr>
                <td><div style="margin-top:0;">C. Rocket Low: <%= team_3.tot_auto_cargo_rocket_low_made %> / <%= team_3.tot_auto_cargo_rocket_low_attempts %></div></td>
                <td style="text-align:right;"><div style="margin-top:0;">C. Rocket Medium: <%= team_3.tot_auto_cargo_rocket_med_made %> / <%= team_3.tot_auto_cargo_rocket_med_attempts %></div></td>
              </tr>
              <tr>
                <td><div style="margin-top:0;">C. Rocket High: <%= team_3.tot_auto_cargo_rocket_high_made %> / <%= team_3.tot_auto_cargo_rocket_high_attempts %></div></td>
                <td style="text-align:right;"><div style="margin-top:0;">C. Cargo Ship: <%= team_3.tot_auto_cargo_ship_made %> / <%= team_3.tot_auto_cargo_ship_attempts %></div></td>
              </tr>
              <tr>
                <td><div style="margin-top:0;">C. Int. Drops: <%= team_3.tot_auto_cargo_int_drops %></div></td>
                <td style="text-align:right;"><div style="margin-top:0;">C. Knockouts: <%= team_3.tot_auto_cargo_knockouts %></div></td>
              </tr>
            </table>
            <h3><u>Teleop Data</u></h3>
            <table class="table">
              <tr>
                <td><div style="margin-top:0;">H. HP Intake: <%= team_3.avg_tele_hatch_hp_intake_made %> / <%= team_3.avg_tele_hatch_hp_intake_attempts %></div></td>
                <td style="text-align:right;"><div style="margin-top:0;">H. Floor Intake: <%= team_3.avg_tele_hatch_floor_intake_made %> / <%= team_3.avg_tele_hatch_floor_intake_attempts %></div></td>
              </tr>
              <tr>
                <td><div style="margin-top:0;">C. HP Intake: <%= team_3.avg_tele_cargo_hp_intake_made %> / <%= team_3.avg_tele_cargo_hp_intake_attempts %></div></td>
                <td style="text-align:right;"><div style="margin-top:0;">C. Floor Intake: <%= team_3.avg_tele_cargo_floor_intake_made %> / <%= team_3.avg_tele_cargo_floor_intake_attempts %></div></td>
              </tr>
              <tr>
                <td><div style="margin-top:0;">C. Depot Intake: <%= team_3.avg_tele_cargo_depot_intake_made %> / <%= team_3.avg_tele_cargo_depot_intake_attempts %></div></td>
                <td />
              </tr>
              <tr>
                <td><div style="margin-top:0;">H. Rocket Low: <%= team_3.avg_tele_hatch_rocket_low_made %> / <%= team_3.avg_tele_hatch_rocket_low_attempts %></div></td>
                <td style="text-align:right;"><div style="margin-top:0;">H. Rocket Medium: <%= team_3.avg_tele_hatch_rocket_med_made %> / <%= team_3.avg_tele_hatch_rocket_med_attempts %></div></td>
              </tr>
              <tr>
                <td><div style="margin-top:0;">H. Rocket High: <%= team_3.avg_tele_hatch_rocket_high_made %> / <%= team_3.avg_tele_hatch_rocket_high_attempts %></div></td>
                <td style="text-align:right;"><div style="margin-top:0;">H. Cargo Ship: <%= team_3.avg_tele_hatch_ship_made %> / <%= team_3.avg_tele_hatch_ship_attempts %></div></td>
              </tr>
              <tr>
                <td><div style="margin-top:0;">H. Int. Drops: <%= team_3.avg_tele_hatch_int_drops %></div></td>
                <td style="text-align:right;"><div style="margin-top:0;">H. Knockouts: <%= team_3.avg_tele_hatch_knockouts %></div></td>
              </tr>
              <tr>
                <td><div style="margin-top:0;">C. Rocket Low: <%= team_3.avg_tele_cargo_rocket_low_made %> / <%= team_3.avg_tele_cargo_rocket_low_attempts %></div></td>
                <td style="text-align:right;"><div style="margin-top:0;">C. Rocket Medium: <%= team_3.avg_tele_cargo_rocket_med_made %> / <%= team_3.avg_tele_cargo_rocket_med_attempts %></div></td>
              </tr>
              <tr>
                <td><div style="margin-top:0;">C. Rocket High: <%= team_3.avg_tele_cargo_rocket_high_made %> / <%= team_3.avg_tele_cargo_rocket_high_attempts %></div></td>
                <td style="text-align:right;"><div style="margin-top:0;">C. Cargo Ship: <%= team_3.avg_tele_cargo_ship_made %> / <%= team_3.avg_tele_cargo_ship_attempts %></div></td>
              </tr>
              <tr>
                <td><div style="margin-top:0;">C. Int. Drops: <%= team_3.avg_tele_cargo_int_drops %></div></td>
                <td style="text-align:right;"><div style="margin-top:0;">C. Knockouts: <%= team_3.avg_tele_cargo_knockouts %></div></td>
              </tr>
              <tr>
                <td><div style="margin-top:0;">Climb Level One: <%= team_3.tot_tele_climb_level_one_made %> / <%= team_3.tot_tele_climb_level_one_attempts %></div></td>
                <td style="text-align:right;"><div style="margin-top:0;">Climb Level Two: <%= team_3.tot_tele_climb_level_two_made %> / <%= team_3.tot_tele_climb_level_two_attempts %></div></td>
              </tr>
              <tr>
                <td><div style="margin-top:0;">Climb Level Three: <%= team_3.tot_tele_climb_level_three_made %> / <%= team_3.tot_tele_climb_level_three_attempts %></div></td>
                <td style="text-align:right;"><div style="margin-top:0;">Assisted Climb: <%= team_3.tot_tele_climb_assisted %></div></td>
              </tr>
              <tr>
                <td><div style="margin-top:0;">Start Time: <%= team_3.avg_tele_climb_start_time %></div></td>
                <td style="text-align:right;"><div style="margin-top:0;">Elapsed Time: <%= team_3.avg_tele_climb_elapsed_time %></div></td>
              </tr>
              <tr>
                <td><div style="margin-top:0;">Level Two Assist: <%= team_3.tot_tele_climb_assist_level_two_made %> / <%= team_3.tot_tele_climb_assist_level_two_attempts %></div></td>
                <td style="text-align:right;"><div style="margin-top:0;">Level Three Assist: <%= team_3.tot_tele_climb_assist_level_three_made %> / <%= team_3.tot_tele_climb_assist_level_three_attempts %></div></td>
              </tr>
              <tr>
                <td><div style="margin-top:0;">Driver Rating: <%= team_3.avg_driver_rating %></div></td>
                <td style="text-align:right;"><div style="margin-top:0;">Defense Rating: <%= team_3.avg_defense_rating %></div></td>
              </tr>
              <tr>
                <td><div style="margin-top:0;">Contrib. Offense: <%= team_3.avg_contributed_offense %></div></td>
                <td style="text-align:right;"><div style="margin-top:0;">Contrib. Defense: <%= team_3.avg_contributed_defense %></div></td>
              </tr>
              <tr>
                <td><div style="margin-top:0;">Pts. Lost to D: <%= team_3.avg_defense_points_lost %></div></td>
                <td style="text-align:right;"><div style="margin-top:0;">Net Contrib. Pts.: <%= team_3.avg_contributed_offense+team_3.avg_contributed_defense-team_3.avg_defense_points_lost %></div></td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </main>

	<footer>
    <hr />
    <% include ../partials/footer %>
  </footer>
</body>
</html>
