<DOCTYPE! html>
<meta charset="utf-8">
<html lang="en">
<head>
  <% include ../partials/head.ejs %>
</head>
<body class="container">
  <header>
    <% include ../partials/header.ejs %>
  </header>

  <main style="padding-top: 60px;">
    <div class="row">
      <div class="col-lg-12 col-xs-12">
        <form id="alliance_gen" method="post" action="/alliance-gen">
          <div class="form-group" style="padding-top:15px;">
            <div class="row">
              <div class="col-xs-12 col-lg-4">
                <div class="input-group-sm">
                  <label class="control-label">Team 1</label>
                  <input tabindex="1" type="text" class="form-control" name="team_1" required />
                </div>
              </div>
              <div class="col-xs-12 col-lg-4">
                <div class="input-group-sm">
                  <label class="control-label">Team 2</label>
                  <input tabindex="2" type="text" class="form-control" name="team_2" />
                </div>
              </div>
              <div class="col-xs-12 col-lg-4">
                <div class="input-group-sm">
                  <label class="control-label">Team 3</label>
                  <input tabindex="3" type="text" class="form-control" name="team_3" />
                </div>
              </div>
              <div class="col-xs-12 col-lg-12">
                <input tabindex="7" style="float: right; margin-top: 10px;" type="submit" class="btn btn-success" value="Generate" />
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </main>

  <footer>
    <% include ../partials/footer %>
  </footer>
</body>
</html>
