<DOCTYPE! html>
  <meta charset="utf-8">
  <html lang="en">

  <head>
    <% include ../partials/head.ejs %>
    <style>
      .input-name,
      .input-team-num {
        width: 107.200px;
        height: 21.760px;
        font-size: 12pt;
      }

      input[type=number]::-webkit-inner-spin-button,
      input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      .team-input {
        height: 21.760px;
        width: 101.760px;
      }

      .ratio-tag {
        font-size: 9.5pt;
        vertical-align: top;
      }

      .slash {
        font-size: 13pt;
      }

      .ratio {
        font-size: 10pt;
        border-style: none;
        width: calc(50% - 10px);/*6.86px*/
        vertical-align: bottom;
      }

      table {
        width: 500px;
      }

      table,
      th,
      tr,
      td {
        empty-cells: show;
        border: 2px solid #000;
        text-align: center;
      }

      label {
        vertical-align: top;
      }

      input {
        text-align: center;
      }

      .form-control {
        border: 1px solid #000;
      }

      select {
        text-align-last: center;
      }

      .sandstorm-chart {
        font-size: 11pt;
        background-color: #d9d9d9;
      }
    </style>
  </head>

  <body class="container">
    <header>
      <% include ../partials/header.ejs %>
    </header>

    <main class="data-entry" style="padding-top:75px; zoom: 1.25;">
      <center>
        <%- message %>

        <form id="main_data_entry" method="post" action="/parse-data">
          <table style="border-style:none; width:auto;">
            <tr style="border-style:none;">
              <td style="padding-right:9.6; border-style:none">
                <label style="font-size:10.5pt; text-align: center">Match #</label> <br>
                <input tabindex="1" type="number" class="form-control team-input" name="match_num" required />
              </td>
              <td style="border-style:none">
                <label style="font-size:10.5pt; text-align: center">Team #</label> <br>
                <input tabindex="2" type="number" class="form-control team-input" name="team_num" required />
              </td>
            </tr>
          </table>

          <table>
            <tr style="background-color:#d9d9d9">
              <th colspan="5">
                <center>
                  <b style="font-size:12pt">Sandstorm</b>
                </center>
              </th>
            </tr>
            <tr>
              <td width="100/4%">
                <label class="ratio-tag">Start Position</label>
                <select tabindex="3" class="ratio" style="width: 90%" name="auto_start_pos">
                  <option></option>
                  <option>Left</option>
                  <option>Center</option>
                  <option>Right</option>
                </select>
              </td>
              <td width="100/4%">
                <label class="ratio-tag">Off Level 1</label> <br>
                <input tabindex="4" type="number" class="ratio" style="width:90%" max="1" name="auto_off_level_one" />
              </td>
              <td width="100/4%">
                <label class="ratio-tag">Off Level 2</label> <br>
                <input tabindex="5" type="number" class="ratio" style="width:90%" max="1"
                  name="auto_off_level_two" />
              </td>
              <td width="100/4%">
                <label class="ratio-tag">Drive Mode</label> <br>
                <select tabindex="6" type="number" class="ratio" style="width: 90%" name="auto_drive_mode">
                  <option></option>
                  <option>Auton</option>
                  <option>Hybrid</option>
                </select>
              </td>
            </tr>
            <tr>
              <td width="100/4%">
                <label class="ratio-tag">Hatch - HP</label> <br>
                <input tabindex="7" type="number" class="ratio" name="auto_hatch_hp_intake_made" />
                <b class="slash">/</b>
                <input tabindex="8" type="number" class="ratio" name="auto_hatch_hp_intake_missed" />
              </td>
              <td width="100/4%">
                <label class="ratio-tag">Hatch - Floor</label> <br>
                <input tabindex="9" type="number" class="ratio" name="auto_hatch_floor_intake_made" />
                <b class="slash">/</b>
                <input tabindex="10" type="number" class="ratio" name="auto_hatch_floor_intake_missed" />
              </td>
              <td width="100/4%">
                <label class="ratio-tag">Cargo - Floor</label> <br>
                <input tabindex="11" type="number" class="ratio" name="auto_cargo_floor_intake_made" />
                <b class="slash">/</b>
                <input tabindex="12" type="number" class="ratio" name="auto_cargo_floor_intake_missed" />
              </td>
              <td width="100/4%">
                <label class="ratio-tag">Cargo - Depot</label> <br>
                <input tabindex="13" type="number" class="ratio" name="auto_cargo_depot_intake_made" />
                <b class="slash">/</b>
                <input tabindex="14" type="number" class="ratio" name="auto_cargo_depot_intake_missed" />
              </td>
            </tr>
          </table>

          <table>
            <tr>
              <th width="100/7%" style="background-color:#a6a6a6">
                <b>Scores</b>
              </th>
              <th width="100/7%" class="sandstorm-chart">
                <b>R-L</b>
              </th>
              <th width="100/7%" class="sandstorm-chart">
                <b>R-M</b>
              </th>
              <th width="100/7%" class="sandstorm-chart">
                <b>R-H</b>
              </th>
              <th width="100/7%" class="sandstorm-chart">
                <b>CS</b>
              </th>
              <th width="100/7%" class="sandstorm-chart">
                <b>ID</b>
              </th>
              <th width="100/7%" class="sandstorm-chart">
                <b>UD</b>
              </th>
            </tr>
            <tr>
              <th width="100/7%" class="sandstorm-chart">
                <b>H</b>
              </th>
              <td width="100/7%">
                <input tabindex="15" type="number" class="ratio" name="auto_hatch_rocket_low_made" />
                <b class="slash">/</b>
                <input tabindex="16" type="number" class="ratio" name="auto_hatch_rocket_low_missed" />
              </td>
              <td width="100/7%">
                <input tabindex="17" type="number" class="ratio" name="auto_hatch_rocket_med_made" />
                <b class="slash">/</b>
                <input tabindex="18" type="number" class="ratio" name="auto_hatch_rocket_med_missed" />
              </td>
              <td width="100/7%">
                <input tabindex="19" type="number" class="ratio" name="auto_hatch_rocket_high_made" />
                <b class="slash">/</b>
                <input tabindex="20" type="number" class="ratio" name="auto_hatch_rocket_high_missed" />
              </td>
              <td width="100/7%">
                <input tabindex="21" type="number" class="ratio" name="auto_hatch_ship_made" />
                <b class="slash">/</b>
                <input tabindex="22" type="number" class="ratio" name="auto_hatch_ship_missed" />
              </td>
              <td width="100/7%">
                <input tabindex="23" type="number" class="ratio" style="width: 90%" name="auto_hatch_int_drops" />
              </td>
              <td width="100/7%">
                <input tabindex="24" type="number" class="ratio" style="width: 90%" name="auto_hatch_knockouts" />
              </td>
            </tr>
            <tr>
              <th width="100/7%" class="sandstorm-chart">
                <b>C</b>
              </th>
              <td width="100/7%">
                <input tabindex="25" type="number" class="ratio" name="auto_cargo_rocket_low_made" />
                <b class="slash">/</b>
                <input tabindex="26" type="number" class="ratio" name="auto_cargo_rocket_low_missed" />
              </td>
              <td width="100/7%">
                <input tabindex="27" type="number" class="ratio" name="auto_cargo_rocket_med_made" />
                <b class="slash">/</b>
                <input tabindex="28" type="number" class="ratio" name="auto_cargo_rocket_med_missed" />
              </td>
              <td width="100/7%">
                <input tabindex="29" type="number" class="ratio" name="auto_cargo_rocket_high_made" />
                <b class="slash">/</b>
                <input tabindex="30" type="number" class="ratio" name="auto_cargo_rocket_high_missed" />
              </td>
              <td width="100/7%">
                <input tabindex="31" type="number" class="ratio" name="auto_cargo_ship_made" />
                <b class="slash">/</b>
                <input tabindex="32" type="number" class="ratio" name="auto_cargo_ship_missed" />
              </td>
              <td width="100/7%">
                <input tabindex="33" type="number" class="ratio" style="width: 90%" name="auto_cargo_int_drops" />
              </td>
              <td width="100/7%">
                <input tabindex="34" type="number" class="ratio" style="width: 90%" name="auto_cargo_knockouts" />
              </td>
            </tr>
          </table>

          <table>
            <tr style="background-color:#d9d9d9">
              <th colspan="5">
                <center>
                  <b style="font-size:12pt">Intakes</b>
                </center>
              </th>
            </tr>
            <tr>
              <td width="100/5%">
                <label class="ratio-tag">Hatch - HP</label> <br>
                <input tabindex="35" type="number" class="ratio" name="tele_hatch_hp_intake_made" />
                <b class="slash">/</b>
                <input tabindex="36" type="number" class="ratio" name="tele_hatch_hp_intake_missed" />
              </td>
              <td width="100/5%">
                <label class="ratio-tag">Hatch - Floor</label> <br>
                <input tabindex="37" type="number" class="ratio" name="tele_hatch_floor_intake_made" />
                <b class="slash">/</b>
                <input tabindex="38" type="number" class="ratio" name="tele_hatch_floor_intake_missed" />
              </td>
              <td width="100/5%">
                <label class="ratio-tag">Cargo - HP</label> <br>
                <input tabindex="39" type="number" class="ratio" name="tele_cargo_hp_intake_made" />
                <b class="slash">/</b>
                <input tabindex="40" type="number" class="ratio" name="tele_cargo_hp_intake_missed" />
              </td>
              <td width="100/5%">
                <label class="ratio-tag">Cargo - Floor</label> <br>
                <input tabindex="41" type="number" class="ratio" name="tele_cargo_floor_intake_made" />
                <b class="slash">/</b>
                <input tabindex="42" type="number" class="ratio" name="tele_cargo_floor_intake_missed" />
              </td>
              <td width="100/5%">
                <label class="ratio-tag">Cargo - Depot</label> <br>
                <input tabindex="43" type="number" class="ratio" name="tele_cargo_depot_intake_made" />
                <b class="slash">/</b>
                <input tabindex="44" type="number" class="ratio" name="tele_cargo_depot_intake_missed" />
              </td>
            </tr>
          </table>

          <table>
            <tr style="background-color:#d9d9d9">
              <th colspan="6">
                <center>
                  <b style="font-size:12pt">Hatches</b>
                </center>
              </th>
            </tr>
            <tr>
              <td width="100/6%">
                <label class="ratio-tag">Rocket L</label> <br>
                <input tabindex="45" type="number" class="ratio" name="tele_hatch_rocket_low_made" />
                <b class="slash">/</b>
                <input tabindex="46" type="number" class="ratio" name="tele_hatch_rocket_low_missed" />
              </td>
              <td width="100/6%">
                <label class="ratio-tag">Rocket M</label> <br>
                <input tabindex="47" type="number" class="ratio" name="tele_hatch_rocket_med_made" />
                <b class="slash">/</b>
                <input tabindex="48" type="number" class="ratio" name="tele_hatch_rocket_med_missed" />
              </td>
              <td width="100/6%">
                <label class="ratio-tag">Rocket H</label> <br>
                <input tabindex="49" type="number" class="ratio" name="tele_hatch_rocket_high_made" />
                <b class="slash">/</b>
                <input tabindex="50" type="number" class="ratio" name="tele_hatch_rocket_high_missed" />
              </td>
              <td width="100/6%">
                <label class="ratio-tag">CargoShip</label> <br>
                <input tabindex="51" type="number" class="ratio" name="tele_hatch_ship_made" />
                <b class="slash">/</b>
                <input tabindex="52" type="number" class="ratio" name="tele_hatch_ship_missed" />
              </td>
              <td width="100/6%">
                <label class="ratio-tag">Intended Drops</label> <br>
                <input tabindex="53" type="number" class="ratio" style="width: 90%" name="tele_hatch_int_drops" />
              </td>
              <td width="100/6%">
                <label class="ratio-tag">Unintended Drops</label> <br>
                <input tabindex="54" type="number" class="ratio" style="width: 90%" name="tele_hatch_knockouts" />
              </td>
            </tr>
          </table>

          <table>
            <tr style="background-color:#d9d9d9">
              <th colspan="6">
                <center>
                  <b style="font-size:12pt">Cargo</b>
                </center>
              </th>
            </tr>
            <tr>
              <td width="100/6%">
                <label class="ratio-tag">Rocket L</label> <br>
                <input tabindex="55" type="number" class="ratio" name="tele_cargo_rocket_low_made" />
                <b class="slash">/</b>
                <input tabindex="56" type="number" class="ratio" name="tele_cargo_rocket_low_missed" />
              </td>
              <td width="100/6%">
                <label class="ratio-tag">Rocket M</label> <br>
                <input tabindex="57" type="number" class="ratio" name="tele_cargo_rocket_med_made" />
                <b class="slash">/</b>
                <input tabindex="58" type="number" class="ratio" name="tele_cargo_rocket_med_missed" />
              </td>
              <td width="100/6%">
                <label class="ratio-tag">Rocket H</label> <br>
                <input tabindex="59" type="number" class="ratio" name="tele_cargo_rocket_high_made" />
                <b class="slash">/</b>
                <input tabindex="60" type="number" class="ratio" name="tele_cargo_rocket_high_missed" />
              </td>
              <td width="100/6%">
                <label class="ratio-tag">CargoShip</label> <br>
                <input tabindex="61" type="number" class="ratio" name="tele_cargo_ship_made" />
                <b class="slash">/</b>
                <input tabindex="62" type="number" class="ratio" name="tele_cargo_ship_missed" />
              </td>
              <td width="100/6%">
                <label class="ratio-tag">Intended Drops</label> <br>
                <input tabindex="63" type="number" class="ratio" style="width: 90%" name="tele_cargo_int_drops" />
              </td>
              <td width="100/6%">
                <label class="ratio-tag">Unintended Drops</label> <br>
                <input tabindex="64" type="number" class="ratio" style="width: 90%" name="tele_cargo_knockouts" />
              </td>
            </tr>
          </table>

          <table>
            <tr style="background-color:#d9d9d9">
              <th colspan="8">
                <center>
                  <b style="font-size:12pt">Climb</b>
                </center>
              </th>
            </tr>
            <tr>
              <td width="100/8%">
                <label class="ratio-tag">Level 1</label> <br>
                <input tabindex="65" type="number" class="ratio" name="tele_climb_level_one_made" />
                <b class="slash">/</b>
                <input tabindex="66" type="number" class="ratio" name="tele_climb_level_one_missed" />
              </td>
              <td width="100/8%">
                <label class="ratio-tag">Level 2</label> <br>
                <input tabindex="67" type="number" class="ratio" name="tele_climb_level_two_made" />
                <b class="slash">/</b>
                <input tabindex="68" type="number" class="ratio" name="tele_climb_level_two_missed" />
              </td>
              <td width="100/8%">
                <label class="ratio-tag">Level 3</label> <br>
                <input tabindex="69" type="number" class="ratio" name="tele_climb_level_three_made" />
                <b class="slash">/</b>
                <input tabindex="70" type="number" class="ratio" name="tele_climb_level_three_missed" />
              </td>
              <td width="100/8%">
                <label class="ratio-tag">Start</label> <br>
                <input tabindex="71" type="number" class="ratio" style="width: 90%" name="tele_climb_start_time" />
              </td>
              <td width="100/8%">
                <label class="ratio-tag">End</label> <br>
                <input tabindex="72" type="number" class="ratio" style="width: 90%" name="tele_climb_elapsed_time" />
              </td>
              <td width="100/8%">
                <label class="ratio-tag">Assist to Level 2</label> <br>
                <input tabindex="73" type="number" class="ratio" name="tele_climb_assist_level_two_made" />
                <b class="slash">/</b>
                <input tabindex="74" type="number" class="ratio" name="tele_climb_assist_level_two_missed" />
              </td>
              <td width="100/8%">
                <label class="ratio-tag">Assist to Level 3</label> <br>
                <input tabindex="75" type="number" class="ratio" name="tele_climb_assist_level_three_made" />
                <b class="slash">/</b>
                <input tabindex="76" type="number" class="ratio" name="tele_climb_assist_level_three_missed" />
              </td>
              <td width="100/8%">
                <label class="ratio-tag">Assisted</label> <br>
                <input tabindex="77" type="number" class="ratio" style="width:90%" max="1"
                  name="tele_climb_assisted" />
              </td>
            </tr>
          </table>

          <table>
            <tr style="background-color:#d9d9d9">
              <th colspan="8">
                <center>
                  <b style="font-size:12pt">Mobility</b>
                </center>
              </th>
            </tr>
            <tr>
              <td width="100/3%">
                <label class="ratio-tag">Driver Rating</label> <br>
                <input tabindex="78" type="number" class="ratio" style="width:90%;" name="driver_rating" min="0" max="5"
                  step="1" required />
              </td>
              <td width="100/3%">
                <label class="ratio-tag">Defense Rating</label> <br>
                <input tabindex="79" type="number" class="ratio" style="width:90%;" name="defense_rating" min="0" max="5 step=" 1" />
              </td>
              <td width="100/3%">
                <label class="ratio-tag">Comm. Deaths</label>
                <input tabindex="80" type="number" class="ratio" style="width:90%;" name="tele_deaths" />
              </td>

            </tr>
          </table>

          <div style="padding-top:10px"><input tabindex="81" type="submit" class="btn btn-success"
              value="Submit Data" /></div>

        </form>
      </center>
    </main>

    <footer>
      <% include ../partials/footer %>
    </footer>
  </body>

  </html>