<DOCTYPE! html>
  <meta charset="utf-8">
  <html lang="en">

  <head>
    <% include ../partials/head.ejs %>
  </head>

  <body class="container">
    <header>
      <% include ../partials/header.ejs %>
    </header>

    <main style="padding-top: 75px;">
        <!-- <- message %> -->

        <form id="driver_entry" method="post" action="/parse-driver">
          <div class="form-row justify-content-center">
            <div class="col-3" style="text-align: center;">
              <label><b>Team Number</b></label>
              <input tabindex="1" class="form-control" name="team_num" required />
            </div>
          </div>

          <h4 style="padding-top: 40px;"><center><b>Pit Data</b></center></h4>
          <div class="form-row justify-content-center" style="text-align: center;">
            <div class="col-3">
              <label><b>Robot Weight</b></label>
              <input class="form-control" name="robot_weight" tabindex="2" />
            </div>
            <div class="col-3">
              <label><b>Drivetrain Type</b></label>
              <div class="input-group" style="text-align: center;">
                <input class="form-control" name="robot_drivetrain" id="drivetrain" aria-describedby="drivetrainHelpBlock" readonly tabindex="3" />
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" tabindex="3" />
                    <div class="dropdown-menu">
                      <a href="#" class="dropdown-item" value="6 Traction Wheels">6 Traction Wheels</a>
                      <a href="#" class="dropdown-item" value="6 Omni Wheels">6 Omni Wheels</a>
                      <a href="#" class="dropdown-item" value="Other">Other...</a>
                    </div>
                </div>
                <!-- <small id="drivetrainHelpBlock" class="form-text text-muted">
                    Please select an option from the dropdown list or enter an alternative in the box.
                </small> -->
              </div>
            </div>
          </div>
          <br />
          <br />
          <h4><center><b>Driver Rating Data</b></center></h4>
          <table class="table table-borderless">
            <tr style="text-align: center;">
              <th />
              <th>0</th>
              <th>1</th>
              <th>2</th>
              <th>3</th>
              <th>4</th>
              <th>5</th>
              <th>6</th>
              <th>7</th>
              <th>8</th>
              <th>9</th>
              <th>10</th>
            </tr>
            <tr>
              <th>
                Under Defense
              </th>
              <td>
                <input tabindex="4" class="form-control" style="width:90%" name="drv_under_defense_zero" />
              </td>
              <td>
                <input tabindex="7" class="form-control" style="width:90%" name="drv_under_defense_one" />
              </td>
              <td>
                <input tabindex="10" class="form-control" style="width:90%" name="drv_under_defense_two" />
              </td>
              <td>
                <input tabindex="13" class="form-control" style="width:90%" name="drv_under_defense_three" />
              </td>
              <td>
                <input tabindex="16" class="form-control" style="width:90%" name="drv_under_defense_four" />
              </td>
              <td>
                <input tabindex="19" class="form-control" style="width:90%" name="drv_under_defense_five" />
              </td>
              <td>
                <input tabindex="22" class="form-control" style="width:90%" name="drv_under_defense_six" />
              </td>
              <td>
                <input tabindex="25" class="form-control" style="width:90%" name="drv_under_defense_seven" />
              </td>
              <td>
                <input tabindex="28" class="form-control" style="width:90%" name="drv_under_defense_eight" />
              </td>
              <td>
                <input tabindex="31" class="form-control" style="width:90%" name="drv_under_defense_nine" />
              </td>
              <td>
                <input tabindex="34" class="form-control" style="width:90%" name="drv_under_defense_ten" />
              </td>
            </tr>
            <tr>
              <th>
                Without Defense
              </th>
              <td>
                <input tabindex="5" class="form-control" style="width:90%" name="drv_without_defense_zero" />
              </td>
              <td>
                <input tabindex="8" class="form-control" style="width:90%" name="drv_without_defense_one" />
              </td>
              <td>
                <input tabindex="11" class="form-control" style="width:90%" name="drv_without_defense_two" />
              </td>
              <td>
                <input tabindex="14" class="form-control" style="width:90%" name="drv_without_defense_three" />
              </td>
              <td>
                <input tabindex="17" class="form-control" style="width:90%" name="drv_without_defense_four" />
              </td>
              <td>
                <input tabindex="20" class="form-control" style="width:90%" name="drv_without_defense_five" />
              </td>
              <td>
                <input tabindex="23" class="form-control" style="width:90%" name="drv_without_defense_six" />
              </td>
              <td>
                <input tabindex="26" class="form-control" style="width:90%" name="drv_without_defense_seven" />
              </td>
              <td>
                <input tabindex="29" class="form-control" style="width:90%" name="drv_without_defense_eight" />
              </td>
              <td>
                <input tabindex="32" class="form-control" style="width:90%" name="drv_without_defense_nine" />
              </td>
              <td>
                <input tabindex="35" class="form-control" style="width:90%" name="drv_without_defense_ten" />
              </td>
            </tr>
            <tr>
              <th>
                Playing Defense
              </th>
              <td>
                <input tabindex="6" class="form-control" style="width:90%" name="drv_playing_defense_zero" />
              </td>
              <td>
                <input tabindex="9" class="form-control" style="width:90%" name="drv_playing_defense_one" />
              </td>
              <td>
                <input tabindex="12" class="form-control" style="width:90%" name="drv_playing_defense_two" />
              </td>
              <td>
                <input tabindex="15" class="form-control" style="width:90%" name="drv_playing_defense_three" />
              </td>
              <td>
                <input tabindex="18" class="form-control" style="width:90%" name="drv_playing_defense_four" />
              </td>
              <td>
                <input tabindex="21" class="form-control" style="width:90%" name="drv_playing_defense_five" />
              </td>
              <td>
                <input tabindex="24" class="form-control" style="width:90%" name="drv_playing_defense_six" />
              </td>
              <td>
                <input tabindex="27" class="form-control" style="width:90%" name="drv_playing_defense_seven" />
              </td>
              <td>
                <input tabindex="30" class="form-control" style="width:90%" name="drv_playing_defense_eight" />
              </td>
              <td>
                <input tabindex="33" class="form-control" style="width:90%" name="drv_playing_defense_nine" />
              </td>
              <td>
                <input tabindex="36" class="form-control" style="width:90%" name="drv_playing_defense_ten" />
              </td>
            </tr>
          </table>

          <div style="padding-top:10px">
            <input tabindex="37" type="submit" class="btn btn-success" value="Submit Data" />
          </div>
        </form>
      </center>
    </main>

    <footer>
      <% include ../partials/footer %>

      <script type="text/javascript">
        jQuery(document).ready(function($) {
          $(".dropdown-item").click(function() {
            if ($(this).attr("value") == "Other") {
              $("#drivetrain").prop("readonly", false);
              $("#drivetrain").val("");
            }
            else {
              $("#drivetrain").prop("readonly", true);
              $("#drivetrain").val($(this).attr("value"));
            }
          });
        });
      </script>
    </footer>
  </body>

  </html>