<DOCTYPE! html>
<meta charset="utf-8">
<html lang="en">
<head>
  <% include ../partials/head.ejs %>
</head>
<body class="container">
  <header>
    <% include ../partials/header.ejs %>
  </header>

  <main style="padding-top: 80px;">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-8">
          <form id="event-select" action="/parse-event" method="post">
            <div class="input-group-md">
              <h4 style="margin-top:10px; text-align: center;"><strong>Event</strong></h4>
              <select tabindex="1" class="form-control" name="event">
                <%- events %>
              </select>
            </div>
            <input style="float: right;" tabindex="2" type="submit" class="btn btn-success" value="Submit" />
          </form>
        </div>
      </div>
    </div>
  </main>

  <footer>
    <% include ../partials/footer %>
  </footer>
</body>
</html>
