<DOCTYPE! html>
<meta charset="utf-8">
<html lang="en">
<head>
  <% include ../partials/head.ejs %>
</head>
<body class="container-fluid">
  <header>
    <% include ../partials/header.ejs %>
  </header>

  <main style="padding-top: 80px;">
    <div class="row">
      <div class="col-4">
        <div class="card">
          <h5 class="card-header text-white bg-primary">Team List</h5>
          <table class="table">
            <tr>
              <th>Number</th>
              <th>Name</th>
            </tr>
            <%- team_list %>
          </table>
        </div>
      </div>

      <div class="col-lg-8">
        <div class="card">
          <h5 class="card-header text-white bg-primary">Score Ranking</h5>
          <table class="table">
            <tr>
              <th>Team</th>
              <th>Hatches</th>
              <th>Cargo</th>
              <th>Contrib. Offense</th>
              <th>Off Level 2</th>
              <th>Climb Level 2</th>
              <th>Climb Level 3</th>
              <th>Driver Rating</th>
            </tr>
            <%- score_list %>
          </table>
        </div>
      </div>
    </div>
  </main>

  <footer>
    <% include ../partials/footer %>
  </footer>
</body>
</html>
