<DOCTYPE! html>
<meta charset="utf-8">
<html lang="en">
<head>
  <% include ../partials/head.ejs %>
</head>
<body class="container">
  <header>
    <% include ../partials/header.ejs %>
  </header>

  <main style="padding-top: 80px;">
    <div class="container">
      <div class="col">
        <% if (upcoming_match_list.length > 0) { %>
        <div class="card">
          <div class="card-header text-white bg-primary">Upcoming Matches</div>
          <table class="table">
            <tr>
              <th>Match Number</th>
              <th>Red Teams</th>
              <th>Red Score</th>
              <th>Blue Teams</th>
              <th>Blue Score</th>
              <th>Played</th>
            </tr>
            <%- upcoming_match_list %>
          </table>
        </div>
        <% } %>

        <% if (played_match_list.length > 0) { %>
        <div class="card">
          <div class="card-header text-white bg-primary">Played Matches</div>
          <table class="table">
            <tr>
              <th>Match Number</th>
              <th>Red Teams</th>
              <th>Red Score</th>
              <th>Blue Teams</th>
              <th>Blue Score</th>
              <th>Number Entered</th>
              <th>Played</th>
            </tr>
            <%- played_match_list %>
          </table>
        </div>
        <% } %>
      </div>
    </div>
  </main>

  <footer>
    <% include ../partials/footer %>
  </footer>
</body>
</html>
