<DOCTYPE! html>
<meta charset="utf-8">
<html lang="en">
<head>
  <% include ../partials/head.ejs %>
</head>
<body class="container">
  <header>
    <% include ../partials/header.ejs %>
  </header>

  <main style="padding-top: 60px;">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="row">
          <div class="col-lg-6">
            <form id="stats_select" action="/netbroadcast" method="post" onsubmit="return confirm('Are you sure you want to broadcast this database as the central server? You may accidentally overwrite data on other computers.');">
              <div class="input-group-lg">
                <h4 style="margin-top:10px; text-align: center;"><strong>Broadcast Data</strong></h4>
                <center><input type="submit" style="width: 45%; height: 10%;" class="btn btn-success" value="" /></center>
              </div>
            </form>
          </div>
          <div class="col-lg-6">
            <form id="stats_select" action="/netlisten" method="post" onsubmit="return confirm('Are you sure you want to sync this database? All existing data will be wiped and overwritten.');">
              <div class="input-group-lg">
                <h4 style="margin-top:10px; text-align: center;"><strong>Sync Data</strong></h4>
                <center><input type="submit" style="width: 45%; height: 10%;" class="btn btn-success" value="" /></center>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </main>

  <footer>
    <% include ../partials/footer %>
  </footer>
</body>
</html>
