<DOCTYPE! html>
<meta charset="utf-8">
<html lang="en">
<head>
  <% include ../partials/head.ejs %>
</head>
<body class="container">
  <header>
    <% include ../partials/header.ejs %>
  </header>

  <main style="padding-top: 60px;">
    <div class="row">
      <div class="col-lg-6 col-xs-12">
        <div id="team"></div>
        <div class="btn-group" role="group" aria-label="..." style="top: 5px;">
          <a href="/team/<%= previous_team_num %>" type="button" class="btn btn-default">Previous</a>
          <a href="/team/<%= next_team_num %>" type="button" class="btn btn-default">Next</a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-7 col-lg-offset-0 col-xs-12" style="font-size: 14px; top: 0px;">
        <canvas id="cubes_trend"></canvas>
        <canvas id="intake_trend"></canvas>
        <canvas id="auto_made_trend"></canvas>
      
        <script type="text/javascript">
          var auto_data = {
            labels: ['Left Switch', 'Left Scale', 'Center Switch', 'Center Scale', 'Right Switch', 'Right Scale'],
            datasets: [
              {
                label: 'Auto Made',
                backgroundColor: "rgba(201,235,148,0.75)",
                borderColor: "rgba(201,235,148,1)",
                borderWidth: 2,
                data: [<%= auto_made_trend %>]
              },
              {
                label: 'Auto Missed',
                backgroundColor: "rgba(255,166,158,0.75)",
                borderColor: "rgba(255,166,158,1)",
                borderWidth: 2,
                data: [<%= auto_missed_trend %>]
              }
            ]
          };
        
          var intake_data = {
            labels: [<%= trend_labels %> 'Next'],
            datasets: [
              {
                label: "Pyramid",
                backgroundColor: "rgba(255,166,158,0.2)",
                borderColor: "rgba(255,166,158,1)",
                pointBorderColor: "#000",
                data: [<%= pyramid_intake_trend %>]
              },
              {
                label: "Unprotected",
                backgroundColor: "rgba(201,235,148,0.2)",
                borderColor: "rgba(201,235,148,1)",
                pointBorderColor: "#000",
                data: [<%= unprotected_intake_trend %>]
              },
              {
                label: "Portal",
                backgroundColor: "rgba(151,187,205,0.2)",
                borderColor: "rgba(151,187,205,1)",
                pointBorderColor: "#000",
                data: [<%= portal_intake_trend %>]
              },
              {
                label: "Floor",
                backgroundColor: "rgba(247,239,118,0.2)",
                borderColor: "rgba(247,239,118,1)",
                pointBorderColor: "#000",
                data: [<%= floor_intake_trend %>]
              },
              {
                label: "Total",
                backgroundColor: "rgba(228,156,255,0.2)",
                borderColor: "rgba(228,156,255,1)",
                pointBorderColor: "#000",
                data: [<%= total_intake_trend %>]
              }
            ]
          };

          var cubes_data = {
            labels: [<%= trend_labels %> 'Next'],
            datasets: [
              {
                label: "Near Switch",
                backgroundColor: "rgba(255,166,158,0.2)",
                borderColor: "rgba(255,166,158,1)",
                pointBorderColor: "#000",
                data: [<%= near_switch_cubes_trend %>]
              },
              {
                label: "Far Switch",
                backgroundColor: "rgba(201,235,148,0.2)",
                borderColor: "rgba(201,235,148,1)",
                pointBorderColor: "#000",
                data: [<%= far_switch_cubes_trend %>]
              },
              {
                label: "Scale High",
                backgroundColor: "rgba(151,187,205,0.2)",
                borderColor: "rgba(151,187,205,1)",
                pointBorderColor: "#000",
                data: [<%= scale_high_cubes_trend %>]
              },
              {
                label: "Scale Low",
                backgroundColor: "rgba(168,254,254,0.2)",
                borderColor: "rgba(168,254,254,1)",
                pointBorderColor: "#000",
                data: [<%= scale_low_cubes_trend %>]
              },
              {
                label: "Exchange",
                backgroundColor: "rgba(247,239,118,0.2)",
                borderColor: "rgba(247,239,118,1)",
                pointBorderColor: "#000",
                data: [<%= exchange_cubes_trend %>]
              },
              {
                label: "Scale Descored",
                backgroundColor: "rgba(0,0,0,0.2)",
                borderColor: "rgba(0,0,0,1)",
                pointBorderColor: "#000",
                data: [<%= cubes_descored_trend %>]
              },
              {
                label: "Total",
                backgroundColor: "rgba(228,156,255,0.2)",
                borderColor: "rgba(228,156,255,1)",
                pointBorderColor: "#000",
                data: [<%= total_cubes_trend %>]
              }
            ]
          };
            
          var ctx = document.getElementById("intake_trend").getContext("2d");
          var ctx1 = document.getElementById("cubes_trend").getContext("2d");
          var ctx2 = document.getElementById("auto_made_trend").getContext("2d");
          var myBarChart = new Chart(ctx2, { 
            type: 'bar',
            data: auto_data,
            options: {
              responsive: true,
              title: {
                display: true,
                text: 'Auto Trend',
                fontSize: 16
              },
              scales: {
                yAxes: [{
                  ticks: {
                    suggestedMin: 0,
                    suggestedMax: 12,
                    stepSize: 2
                  }
                }]
              },
              tooltips: {
                intersect: false,
                mode: 'index',
                callbacks: {
                  labelColor: function(tooltipItem, chart) {
                    var dataset = chart.config.data.datasets[tooltipItem.datasetIndex];
                    return {
                      backgroundColor : dataset.borderColor
                    }
                  }
                }
              }
            }
          });
          var myLineChart = new Chart(ctx, { 
            type: 'line',
            data: intake_data,
            options: {
              responsive: true,
              title: {
                display: true,
                text: 'Intake Trend',
                fontSize: 16
              },
              scales: {
                yAxes: [{
                  ticks: {
                    suggestedMin: 0,
                    suggestedMax: 24,
                    stepSize: 4
                  }
                }]
              },
              tooltips: {
                intersect: false,
                mode: 'index',
                callbacks: {
                  labelColor: function(tooltipItem, chart) {
                    var dataset = chart.config.data.datasets[tooltipItem.datasetIndex];
                    return {
                      backgroundColor : dataset.borderColor
                    }
                  }
                }
              }
            }
          });
          var myLineChart1 = new Chart(ctx1, { 
            type: 'line',
            data: cubes_data,
            options: {
              responsive: true,
              title: {
                display: true,
                text: 'Cubes Trend',
                fontSize: 16
              },
              scales: {
                yAxes: [{
                  ticks: {
                    suggestedMin: 0,
                    suggestedMax: 24,
                    stepSize: 4
                  }
                }]
              },
              tooltips: {
                intersect: false,
                mode: 'index',
                callbacks: {
                  labelColor: function(tooltipItem, chart) {
                    var dataset = chart.config.data.datasets[tooltipItem.datasetIndex];
                    return {
                      backgroundColor : dataset.borderColor
                    }
                  }
                }
              }
            }
          });
        </script>
      </div>
      <div class="col-lg-5 col-xs-12">
        <h3><u>Autonomous Data</u></h3>
        <table class="table">
          <tr>
            <td><div id="auto_cross" /></td>
            <td style="text-align:right;"><div id="auto_left" /></td>
          </tr>
          <tr>
            <td><div id="auto_center" /></td>
            <td style="text-align:right;"><div id="auto_right" /></td>
          </tr>
          <tr>
            <td><div id="auto_pyramid_intake" /></td>
            <td style="text-align:right;"><div id="auto_unprotected_intake" /></td>
          </tr>
          <tr>
            <td><div id="auto_near_switch" /></td>
            <td style="text-align:right;"><div id="auto_exchange" /></h5></td>
          </tr>
          <tr>
            <td><div id="auto_scale_high" /></td>
            <td style="text-align:right;"><div id="auto_scale_low" /></td>
          </tr>
        </table>
        <h3><u>Teleop Data</u></h3>
        <table class="table">
          <tr>
            <td><div id="tele_total_cubes" /></td>
            <td style="text-align:right;"><div id="tele_exchange" /></td>
          </tr>
          <tr>
            <td><div id="tele_near_switch" /></td>
            <td style="text-align:right;"><div id="tele_far_switch" /></td>
          </tr>
          <tr>
            <td><div id="tele_scale_high" /></td>
            <td style="text-align:right;"><div id="tele_scale_low" /></td>
          </tr>
          <tr>
            <td><div id="tele_highest_level" /></td>
            <td style="text-align:right;"><div id="tele_knockouts" /></td>
          </tr>
          <tr>
            <td><div id="tele_total_intake" /></td>
            <td style="text-align:right;"><div id="tele_portal_intake" /></td>
          </tr>
          <tr>
            <td><div id="tele_pyramid_intake" /></td>
            <td style="text-align:right;"><div id="tele_unprotected_intake" /></td>
          </tr>
          <tr>
            <td><div id="tele_floor_intake" /></td>
            <td style="text-align:right;"><div id="tele_platform" /></td>
          <tr>
            <td><div id="tele_self_climb" /></td>
            <td style="text-align:right;"><div id="tele_assisted_climb" /></td>
          </tr>
          <tr>
            <td><div id="tele_plus_one" /></td>
            <td style="text-align:right;"><div id="tele_plus_two" /></td>
          </tr>
          <tr>
            <td><div id="mobility_rating" /></td>
            <td style="text-align:right;"><div id="defense_rating" /></td>
          </tr>
        </table>
      </div>
    </div>
  </main>

  <script type="text/babel">
    var teamData;
    jQuery(document).ready(function($) {
      class Comp extends React.Component {
        render() {
          return (<h5 className="noTop">{this.props.children}</h5>);
        }
      };
      class BigComp extends React.Component {
        render() {
          return (<h2><strong>{this.props.children}</strong></h2>);
        }
      };
      $.ajax({
        url: "/api/team/<%= team_num %>",
        data: "",
        success: function(data) {
          teamData = data[0];
          // alert(JSON.stringify(data));
          // alert(teamData.tot_auto_scale_high_made);
          ReactDOM.render(<BigComp>{teamData.team_num} - {teamData.team_name}</BigComp>, document.getElementById("team"));

          ReactDOM.render(<Comp>Cross: {teamData.tot_auto_cross} / {teamData.num_matches}</Comp>, document.getElementById("auto_cross"));
          ReactDOM.render(<Comp>Left Starts: {teamData.tot_auto_left}</Comp>, document.getElementById("auto_left"));
          ReactDOM.render(<Comp>Center Starts: {teamData.tot_auto_center}</Comp>, document.getElementById("auto_center"));
          ReactDOM.render(<Comp>Right Starts: {teamData.tot_auto_right}</Comp>, document.getElementById("auto_right"));
          ReactDOM.render(<Comp>Pyramid Intake: {teamData.tot_auto_pyramid_intake}</Comp>, document.getElementById("auto_pyramid_intake"));
          ReactDOM.render(<Comp>Unprotected Intake: {teamData.tot_auto_unprotected_intake}</Comp>, document.getElementById("auto_unprotected_intake"));
          ReactDOM.render(<Comp>Near Switch: {teamData.tot_auto_near_switch_made} / {teamData.tot_auto_near_switch_attempts}</Comp>, document.getElementById("auto_near_switch"));
          ReactDOM.render(<Comp>Exchange: {teamData.tot_auto_exchange_made} / {teamData.tot_auto_exchange_attempts}</Comp>, document.getElementById("auto_exchange"));
          ReactDOM.render(<Comp>Scale High: {teamData.tot_auto_scale_high_made} / {teamData.tot_auto_scale_high_attempts}</Comp>, document.getElementById("auto_scale_high"));
          ReactDOM.render(<Comp>Scale Low: {teamData.tot_auto_scale_low_made} / {teamData.tot_auto_scale_low_attempts}</Comp>, document.getElementById("auto_scale_low"));

          ReactDOM.render(<Comp>Total Cubes Scored: {teamData.avg_tele_cubes_scored} (Max: {teamData.max_tele_cubes_scored})</Comp>, document.getElementById("tele_total_cubes"));
          ReactDOM.render(<Comp>Exchange: {teamData.avg_tele_exchange_made} / {teamData.avg_tele_exchange_attempts}</Comp>, document.getElementById("tele_exchange"));
          ReactDOM.render(<Comp>Near Switch: {teamData.avg_tele_near_switch_made} / {teamData.avg_tele_near_switch_attempts}</Comp>, document.getElementById("tele_near_switch"));
          ReactDOM.render(<Comp>Far Switch: {teamData.avg_tele_far_switch_made} / {teamData.avg_tele_far_switch_attempts}</Comp>, document.getElementById("tele_far_switch"));
          ReactDOM.render(<Comp>Scale High: {teamData.avg_tele_scale_high_made} / {teamData.avg_tele_scale_high_attempts}</Comp>, document.getElementById("tele_scale_high"));
          ReactDOM.render(<Comp>Scale Low: {teamData.avg_tele_scale_low_made} / {teamData.avg_tele_scale_low_attempts}</Comp>, document.getElementById("tele_scale_low"));
          ReactDOM.render(<Comp>Max Highest Level: {teamData.max_tele_highest_level} (Frq: {teamData.frq_tele_highest_level})</Comp>, document.getElementById("tele_highest_level"));
          ReactDOM.render(<Comp>Knockouts: {teamData.avg_tele_knockouts}</Comp>, document.getElementById("tele_knockouts"));
          ReactDOM.render(<Comp>Total Intakes: {teamData.avg_tele_intake} (Max: {teamData.max_tele_intake})</Comp>, document.getElementById("tele_total_intake"));
          ReactDOM.render(<Comp>Portal Intake: {teamData.avg_tele_portal_intake_made} / {teamData.avg_tele_portal_intake_attempts}</Comp>, document.getElementById("tele_portal_intake"));
          ReactDOM.render(<Comp>Pyramid Intake: {teamData.avg_tele_pyramid_intake}</Comp>, document.getElementById("tele_pyramid_intake"));
          ReactDOM.render(<Comp>Unprotected Intake: {teamData.avg_tele_unprotected_intake}</Comp>, document.getElementById("tele_unprotected_intake"));
          ReactDOM.render(<Comp>Floor Intake: {teamData.avg_tele_floor_intake}</Comp>, document.getElementById("tele_floor_intake"));
          ReactDOM.render(<Comp>Platform: {teamData.tot_tele_platform}</Comp>, document.getElementById("tele_platform"));
          ReactDOM.render(<Comp>Self Climb: {teamData.tot_tele_climb} / {teamData.tot_tele_climb_attempts}</Comp>, document.getElementById("tele_self_climb"));
          ReactDOM.render(<Comp>Assisted Climb: {teamData.tot_tele_climb_assisted}</Comp>, document.getElementById("tele_assisted_climb"));
          ReactDOM.render(<Comp>Plus One: {teamData.tot_tele_plus_one} / {teamData.tot_tele_plus_one_attempts}</Comp>, document.getElementById("tele_plus_one"));
          ReactDOM.render(<Comp>Plus Two: {teamData.tot_tele_plus_two} / {teamData.tot_tele_plus_two_attempts}</Comp>, document.getElementById("tele_plus_two"));
          ReactDOM.render(<Comp>Mobility Rating: {teamData.avg_driver_rating}</Comp>, document.getElementById("mobility_rating"));
          ReactDOM.render(<Comp>Defense Rating: {teamData.avg_defense_rating}</Comp>, document.getElementById("defense_rating"));
        },
        error: function() {
          alert("failed");
        }
      });
    });
  </script>
  <footer>
    <% include ../partials/footer %>
  </footer>
</body>
</html>
