<DOCTYPE! html>
<meta charset="utf-8">
<html lang="en">
<head>
  <% include ../partials/head.ejs %>
</head>
<body class="container">
  <header>
    <% include ../partials/header.ejs %>
  </header>

  <main style="padding-top: 80px;">
    <div class="row justify-content-center">
      <div class="col-8">
        <%- message %>
        <form id="sql_query" method="post" action="/query">
          <div class="form-group">
            <div class="row">
              <div class="col">
                <div class="input-group-md">
                  <label class="control-label">SQL Query</label>
                  <textarea tabindex="1" class="form-control" name="query" rows="8" required></textarea>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <input tabindex="2" style="float:right;" type="submit" class="btn btn-success" value="Query" />
              </div>
            </div>
          </div>
        </form>
        <% if (result) { %>
          <h4 style="text-align:center;"><strong>SQL Result</strong></h4>
          <div class="table-responsive">
            <table class="table table-striped">
              <%- result %>
            </table>
          </div>
        <% } %>    
      </div>
    </div>
    <div class="row justify-content-center" style="padding-top: 15px;">
      <form id="export_db" method="get" action="/export">
        <div class="form-group">
          <input type="submit" class="btn btn-success" value="Download Database" />
        </div>
      </form>
    </div>
  </main>

  <footer>
    <% include ../partials/footer %>
  </footer>
</body>
</html>
