<DOCTYPE! html>
<meta charset="utf-8">
<html lang="en">
<head>
  <% include ../partials/head.ejs %>
</head>
<body class="container">
  <header>
    <% include ../partials/header.ejs %>
  </header>

  <main style="padding-top:60px;">
    <div class="row">
      <div class="row">
        <div class="col-lg-6 col-xs-12">
          <h2>
            <strong><%= team_num %> - <%= team_name %></strong>
            <br />
            <div class="btn-group" role="group" aria-label="..." style="top: 5px;">
              <a href="/team/<%= previous_team_num %>" type="button" class="btn btn-default">Previous</a>
              <a href="/team/<%= next_team_num %>" type="button" class="btn btn-default">Next</a>
            </div>
          </h2>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 col-xs-12">
          <img src="../images/<%= team_num %>.jpg" style="width: 100%; height: auto;" />
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 col-xs-12" style="top: 0px;">
          <div class="col-lg-6 col-xs-12">
            <h4 style="margin-bottom:0;"><center><b>Auton Heatmap</b></center></h4>
            <canvas id="auto_map" style="display: block; padding: 0; margin: auto; width: 350; height: 400;"></canvas>
          </div>
          <div class="col-lg-6 col-xs-12">
              <h4 style="margin-bottom:0;"><center><b>Teleop Heatmap</b></center></h4>
            <canvas id="tele_map" style="display: block; padding: 0; margin: auto; width: 450; height: 500;"></canvas>
          </div>

          <script type="text/javascript">
            function resizeCanvasToDisplaySize(canvas) {
              // look up the size the canvas is being displayed
              const width = canvas.clientWidth;
              const height = canvas.clientHeight;

              // If it's resolution does not match change it
              if (canvas.width !== width || canvas.height !== height) {
                canvas.width = width;
                canvas.height = height;
                return true;
              }

              return false;
            }
             
            let tele_map = document.getElementById("tele_map");
            resizeCanvasToDisplaySize(tele_map);
            let tWidth = tele_map.width;
            let tHeight = tele_map.height;
            let auto_map = document.getElementById("auto_map");
            resizeCanvasToDisplaySize(auto_map);
            let aWidth = auto_map.width;
            let aHeight = auto_map.height;
            let auto_ctx = auto_map.getContext("2d");
            let tele_ctx = tele_map.getContext("2d");
            tele_ctx.fillStyle = "rgba(0, 0, 0, 0)";
            tele_ctx.strokeStyle = "rgba(0, 0, 0, 1)";
            let map_pic = new Image();
            map_pic.src = "../images/FieldMap.png";

            let tHaRoHiPath = new Path2D();
            let tHaRoMePath = new Path2D();
            let tHaRoLoPath = new Path2D();
            let tHaShPath = new Path2D();
            let tCaRoHiPath = new Path2D();
            let tCaRoMePath = new Path2D();
            let tCaRoLoPath = new Path2D();
            let tCaShPath = new Path2D();
            let tClOnePath = new Path2D();
            let tClTwoPath = new Path2D();
            let tClThreePath = new Path2D();
            let tHaHpPath = new Path2D();
            let tHaFlPath = new Path2D();
            let tCaHpPath = new Path2D();
            let tCaFlPath = new Path2D();
            let tCaDePath = new Path2D();

            let aHaRoHiPath = new Path2D();
            let aHaRoMePath = new Path2D();
            let aHaRoLoPath = new Path2D();
            let aHaShPath = new Path2D();
            let aCaRoHiPath = new Path2D();
            let aCaRoMePath = new Path2D();
            let aCaRoLoPath = new Path2D();
            let aCaShPath = new Path2D();
            let aOffOnePath = new Path2D();
            let aOffTwoPath = new Path2D();
            let aHaHpPath = new Path2D();
            let aHaFlPath = new Path2D();
            let aCaFlPath = new Path2D();
            let aCaDePath = new Path2D();

            function intToHex(i) {
              var hex = parseInt(i).toString(16);
              return (hex.length < 2) ? "0" + hex : hex;
            }   

            function makeColor(value) {
              // value must be between [0, 510]
              value = Math.min(Math.max(0,value), 1) * 510;

              var redValue;
              var greenValue;
              if (value < 255) {
                redValue = 255;
                greenValue = Math.sqrt(value) * 16;
                greenValue = Math.round(greenValue);
              } else {
                greenValue = 255;
                value = value - 255;
                redValue = 255 - (value * value / 255)
                redValue = Math.round(redValue);
              }
              return "#" + intToHex(redValue) + intToHex(greenValue) + "00";
            }

            let showHoverData = (ctx, title, avg_made, avg_attempts, width, height) => {
              let tot_made = Number(avg_made * <%= num_matches %>).toFixed(0);
              let tot_attempts = Number(avg_attempts * <%= num_matches %>).toFixed(0);
              let perc = Number((avg_made / avg_attempts) || 0).toFixed(3);
              avg_made = Number(avg_made).toFixed(3);
              avg_attempts = Number(avg_attempts).toFixed(3);

              ctx.fillStyle = "rgba(0, 0, 0, 1)";
              ctx.font = "Bold " + Number(width / 37.857) + "px Arial";
              ctx.textAlign = "center";

              if (title.indexOf("Off") == -1) {
                ctx.fillText(title, width / 2.524, height / 2.311);
                ctx.font = Number(width / 37.857) + "px Arial";
                ctx.fillText("Total Made: " + tot_made, width / 2.524, height / 2.165);
                ctx.fillText("Total Attempts: " + tot_attempts, width / 2.524, height / 2.037);
                ctx.fillText("Average Made: " + avg_made, width / 2.524, height / 1.923);
                ctx.fillText("Average Attempts: " + avg_attempts, width / 2.524, height / 1.821);
                ctx.fillText("Percent Made: " + perc, width / 2.524, height / 1.730);
              }
              else {
                ctx.fillText(title, width / 2.524, height / 2.165);
                ctx.font = Number(width / 37.857) + "px Arial";
                ctx.fillText("Total Done: " + tot_made, width / 2.524, height / 2.037);
                ctx.fillText("Number of Matches: " + tot_attempts, width / 2.524, height / 1.923);
                ctx.fillText("Percent Done: " + perc, width / 2.524, height / 1.821);
              }
            };

            auto_map.onmousemove = (e) => {
              let x = e.layerX, y = e.layerY;
              auto_ctx.clearRect(aWidth / 5.300, aHeight / 2.455, aWidth / 2.524, aHeight / 5.729);
              if (auto_ctx.isPointInPath(aHaRoHiPath, x, y))
                showHoverData(auto_ctx, "Hatch - Rocket High", <%= tot_auto_hatch_rocket_high_made %>, <%= tot_auto_hatch_rocket_high_attempts %>, aWidth, aHeight);
              else if (auto_ctx.isPointInPath(aHaRoMePath, x, y))
                showHoverData(auto_ctx, "Hatch - Rocket Medium", <%= tot_auto_hatch_rocket_med_made %>, <%= tot_auto_hatch_rocket_med_attempts %>, aWidth, aHeight);
              else if (auto_ctx.isPointInPath(aHaRoLoPath, x, y))
                showHoverData(auto_ctx, "Hatch - Rocket Low", <%= tot_auto_hatch_rocket_low_made %>, <%= tot_auto_hatch_rocket_low_attempts %>, aWidth, aHeight);
              else if (auto_ctx.isPointInPath(aHaShPath, x, y))
                showHoverData(auto_ctx, "Hatch - Cargo Ship", <%= tot_auto_hatch_ship_made %>, <%= tot_auto_hatch_ship_attempts %>, aWidth, aHeight);
              else if (auto_ctx.isPointInPath(aCaRoHiPath, x, y))
                showHoverData(auto_ctx, "Cargo - Rocket High", <%= tot_auto_cargo_rocket_high_made %>, <%= tot_auto_cargo_rocket_high_attempts %>, aWidth, aHeight);
              else if (auto_ctx.isPointInPath(aCaRoMePath, x, y))
                showHoverData(auto_ctx, "Cargo - Rocket Medium", <%= tot_auto_cargo_rocket_med_made %>, <%= tot_auto_cargo_rocket_med_attempts %>, aWidth, aHeight);
              else if (auto_ctx.isPointInPath(aCaRoLoPath, x, y))
                showHoverData(auto_ctx, "Cargo - Rocket Low", <%= tot_auto_cargo_rocket_low_made %>, <%= tot_auto_cargo_rocket_low_attempts %>, aWidth, aHeight);
              else if (auto_ctx.isPointInPath(aCaShPath, x, y))
                showHoverData(auto_ctx, "Cargo - Cargo Ship", <%= tot_auto_cargo_ship_made %>, <%= tot_auto_cargo_ship_attempts %>, aWidth, aHeight);
              else if (auto_ctx.isPointInPath(aOffOnePath, x, y))
                showHoverData(auto_ctx, "Off Level One", <%= tot_auto_off_level_one / num_matches %>, 1, aWidth, aHeight);
              else if (auto_ctx.isPointInPath(aOffTwoPath, x, y))
                showHoverData(auto_ctx, "Off Level Two", <%= tot_auto_off_level_two / num_matches %>, 1, aWidth, aHeight);
              else if (auto_ctx.isPointInPath(aHaHpPath, x, y))
                showHoverData(auto_ctx, "Hatch - HP Intake", <%= tot_auto_hatch_hp_intake_made %>, <%= tot_auto_hatch_hp_intake_attempts %>, aWidth, aHeight);
              else if (auto_ctx.isPointInPath(aHaFlPath, x, y))
                showHoverData(auto_ctx, "Hatch - Floor Intake", <%= tot_auto_hatch_floor_intake_made %>, <%= tot_auto_hatch_floor_intake_attempts %>, aWidth, aHeight);
              else if (auto_ctx.isPointInPath(aCaFlPath, x, y))
                showHoverData(auto_ctx, "Cargo - Floor Intake", <%= tot_auto_cargo_floor_intake_made %>, <%= tot_auto_cargo_floor_intake_attempts %>, aWidth, aHeight);
              else if (auto_ctx.isPointInPath(aCaDePath, x, y))
                showHoverData(auto_ctx, "Cargo - Depot Intake", <%= tot_auto_cargo_depot_intake_made %>, <%= tot_auto_cargo_depot_intake_attempts %>, aWidth, aHeight);
            }

            tele_map.onmousemove = (e) => {
              let x = e.layerX, y = e.layerY;
              tele_ctx.clearRect(tWidth / 5.300, tHeight / 2.455, tWidth / 2.524, tHeight / 5.729);
              if (tele_ctx.isPointInPath(tHaRoHiPath, x, y))
                showHoverData(tele_ctx, "Hatch - Rocket High", <%= avg_tele_hatch_rocket_high_made %>, <%= avg_tele_hatch_rocket_high_attempts %>, tWidth, tHeight);
              else if (tele_ctx.isPointInPath(tHaRoMePath, x, y))
                showHoverData(tele_ctx, "Hatch - Rocket Medium", <%= avg_tele_hatch_rocket_med_made %>, <%= avg_tele_hatch_rocket_med_attempts %>, tWidth, tHeight);
              else if (tele_ctx.isPointInPath(tHaRoLoPath, x, y))
                showHoverData(tele_ctx, "Hatch - Rocket Low", <%= avg_tele_hatch_rocket_low_made %>, <%= avg_tele_hatch_rocket_low_attempts %>, tWidth, tHeight);
              else if (tele_ctx.isPointInPath(tHaShPath, x, y))
                showHoverData(tele_ctx, "Hatch - Cargo Ship", <%= avg_tele_hatch_ship_made %>, <%= avg_tele_hatch_ship_attempts %>, tWidth, tHeight);
              else if (tele_ctx.isPointInPath(tCaRoHiPath, x, y))
                showHoverData(tele_ctx, "Cargo - Rocket High", <%= avg_tele_cargo_rocket_high_made %>, <%= avg_tele_cargo_rocket_high_attempts %>, tWidth, tHeight);
              else if (tele_ctx.isPointInPath(tCaRoMePath, x, y))
                showHoverData(tele_ctx, "Cargo - Rocket Medium", <%= avg_tele_cargo_rocket_med_made %>, <%= avg_tele_cargo_rocket_med_attempts %>, tWidth, tHeight);
              else if (tele_ctx.isPointInPath(tCaRoLoPath, x, y))
                showHoverData(tele_ctx, "Cargo - Rocket Low", <%= avg_tele_cargo_rocket_low_made %>, <%= avg_tele_cargo_rocket_low_attempts %>, tWidth, tHeight);
              else if (tele_ctx.isPointInPath(tCaShPath, x, y))
                showHoverData(tele_ctx, "Cargo - Cargo Ship", <%= avg_tele_cargo_ship_made %>, <%= avg_tele_cargo_ship_attempts %>, tWidth, tHeight);
              else if (tele_ctx.isPointInPath(tClOnePath, x, y))
                showHoverData(tele_ctx, "Climb - Level One", <%= tot_tele_climb_level_one_made / num_matches %>, <%= tot_tele_climb_level_one_attempts / num_matches %>, tWidth, tHeight);
              else if (tele_ctx.isPointInPath(tClTwoPath, x, y))
                showHoverData(tele_ctx, "Climb - Level Two", <%= tot_tele_climb_level_two_made / num_matches %>, <%= tot_tele_climb_level_two_attempts / num_matches %>, tWidth, tHeight);
              else if (tele_ctx.isPointInPath(tClThreePath, x, y))
                showHoverData(tele_ctx, "Climb - Level Three", <%= tot_tele_climb_level_three_made / num_matches %>, <%= tot_tele_climb_level_three_attempts / num_matches %>, tWidth, tHeight);
              else if (tele_ctx.isPointInPath(tHaHpPath, x, y))
                showHoverData(tele_ctx, "Hatch - HP Intake", <%= avg_tele_hatch_hp_intake_made %>, <%= avg_tele_hatch_hp_intake_attempts %>, tWidth, tHeight);
              else if (tele_ctx.isPointInPath(tHaFlPath, x, y))
                showHoverData(tele_ctx, "Hatch - Floor Intake", <%= avg_tele_hatch_floor_intake_made %>, <%= avg_tele_hatch_floor_intake_attempts %>, tWidth, tHeight);
              else if (tele_ctx.isPointInPath(tCaHpPath, x, y))
                showHoverData(tele_ctx, "Cargo - HP Intake", <%= avg_tele_cargo_hp_intake_made %>, <%= avg_tele_cargo_hp_intake_attempts %>, tWidth, tHeight);
              else if (tele_ctx.isPointInPath(tCaFlPath, x, y))
                showHoverData(tele_ctx, "Cargo - Floor Intake", <%= avg_tele_cargo_floor_intake_made %>, <%= avg_tele_cargo_floor_intake_attempts %>, tWidth, tHeight);
              else if (tele_ctx.isPointInPath(tCaDePath, x, y))
                showHoverData(tele_ctx, "Cargo - Depot Intake", <%= avg_tele_cargo_depot_intake_made %>, <%= avg_tele_cargo_depot_intake_attempts %>, tWidth, tHeight);
            }

            let loadAutoHeatMap = (ctx) => {
              if (<%= tot_auto_hatch_rocket_high_attempts %> == 0)
                ctx.fillStyle = "rgba(0, 0, 0, 0)";
              else
                ctx.fillStyle = makeColor(<%= tot_auto_hatch_rocket_high_made / tot_auto_hatch_rocket_high_attempts %>);
              aHaRoHiPath.moveTo(aWidth / 2.409, aHeight / 1.087);
              aHaRoHiPath.bezierCurveTo(aWidth / 2.265, aHeight / 1.322, aWidth / 1.485, aHeight / 1.322, aWidth / 1.425, aHeight / 1.087);
              aHaRoHiPath.closePath();
              ctx.stroke(aHaRoHiPath);
              ctx.fill(aHaRoHiPath);
              
              if (<%= tot_auto_hatch_rocket_med_attempts %> == 0)
                ctx.fillStyle = "rgba(0, 0, 0, 0)";
              else
                ctx.fillStyle = makeColor(<%= tot_auto_hatch_rocket_med_made / tot_auto_hatch_rocket_med_attempts %>);
              aHaRoMePath.moveTo(aWidth / 2.790, aHeight / 1.087);
              aHaRoMePath.bezierCurveTo(aWidth / 2.265, aHeight / 1.425, aWidth / 1.485, aHeight / 1.425, aWidth / 1.318, aHeight / 1.087);
              aHaRoMePath.lineTo(aWidth / 1.425, aHeight / 1.087);
              aHaRoMePath.bezierCurveTo(aWidth / 1.485, aHeight / 1.322, aWidth / 2.265, aHeight / 1.322, aWidth / 2.409, aHeight / 1.087);
              aHaRoMePath.closePath();
              ctx.stroke(aHaRoMePath);
              ctx.fill(aHaRoMePath);

              if (<%= tot_auto_hatch_rocket_low_attempts %> == 0)
                ctx.fillStyle = "rgba(0, 0, 0, 0)";
              else
                ctx.fillStyle = makeColor(<%= tot_auto_hatch_rocket_low_made / tot_auto_hatch_rocket_low_attempts %>);
              aHaRoLoPath.moveTo(aWidth / 3.313, aHeight / 1.087);
              aHaRoLoPath.bezierCurveTo(aWidth / 2.265, aHeight / 1.545, aWidth / 1.485, aHeight / 1.545, aWidth / 1.227, aHeight / 1.087);
              aHaRoLoPath.lineTo(aWidth / 1.318, aHeight / 1.087);
              aHaRoLoPath.bezierCurveTo(aWidth / 1.485, aHeight / 1.425, aWidth / 2.265, aHeight / 1.425, aWidth / 2.789, aHeight / 1.087);
              aHaRoLoPath.closePath();
              ctx.stroke(aHaRoLoPath);
              ctx.fill(aHaRoLoPath);
              

              if (<%= tot_auto_cargo_rocket_high_attempts %> == 0)
                ctx.fillStyle = "rgba(0, 0, 0, 0)";
              else
                ctx.fillStyle = makeColor(<%= tot_auto_cargo_rocket_high_made / tot_auto_cargo_rocket_high_attempts %>);
              aCaRoHiPath.moveTo(aWidth / 2.409, aHeight / 14.474);
              aCaRoHiPath.bezierCurveTo(aWidth / 2.265, aHeight / 4.297, aWidth / 1.485, aHeight / 4.297, aWidth / 1.425, aHeight / 14.474);
              aCaRoHiPath.closePath();
              ctx.stroke(aCaRoHiPath);
              ctx.fill(aCaRoHiPath);
              
              if (<%= tot_auto_cargo_rocket_med_attempts %> == 0)
                ctx.fillStyle = "rgba(0, 0, 0, 0)";
              else
                ctx.fillStyle = makeColor(<%= tot_auto_cargo_rocket_med_made / tot_auto_cargo_rocket_med_attempts %>);
              aCaRoMePath.moveTo(aWidth / 2.790, aHeight / 14.474);
              aCaRoMePath.bezierCurveTo(aWidth / 2.265, aHeight / 3.481, aWidth / 1.485, aHeight / 3.481, aWidth / 1.318, aHeight / 14.474);
              aCaRoMePath.lineTo(aWidth / 1.425, aHeight / 14.474);
              aCaRoMePath.bezierCurveTo(aWidth / 1.485, aHeight / 4.297, aWidth / 2.265, aHeight / 4.297, aWidth / 2.409, aHeight / 14.474);
              aCaRoMePath.closePath();
              ctx.stroke(aCaRoMePath);
              ctx.fill(aCaRoMePath);

              if (<%= tot_auto_cargo_rocket_low_attempts %> == 0)
                ctx.fillStyle = "rgba(0, 0, 0, 0)";
              else
                ctx.fillStyle = makeColor(<%= tot_auto_cargo_rocket_low_made / tot_auto_cargo_rocket_low_attempts %>);
              aCaRoLoPath.moveTo(aWidth / 3.313, aHeight / 14.474);
              aCaRoLoPath.bezierCurveTo(aWidth / 2.265, aHeight / 2.926, aWidth / 1.485, aHeight / 2.926, aWidth / 1.227, aHeight / 14.474);
              aCaRoLoPath.lineTo(aWidth / 1.318, aHeight / 14.474);
              aCaRoLoPath.bezierCurveTo(aWidth / 1.485, aHeight / 3.481, aWidth / 2.265, aHeight / 3.481, aWidth / 2.790, aHeight / 14.474);
              aCaRoLoPath.closePath();
              ctx.stroke(aCaRoLoPath);
              ctx.fill(aCaRoLoPath);


              if (<%= tot_auto_hatch_ship_attempts %> == 0)
                ctx.fillStyle = "rgba(0, 0, 0, 0)";
              else
                ctx.fillStyle = makeColor(<%= tot_auto_hatch_ship_made / tot_auto_hatch_ship_attempts %>);
              aHaShPath.rect(aWidth / 1.606, aHeight / 2.022, aWidth / 3.212, aHeight / 11.458);
              ctx.stroke(aHaShPath);
              ctx.fill(aHaShPath);

              if (<%= tot_auto_cargo_ship_attempts %> == 0)
                ctx.fillStyle = "rgba(0, 0, 0, 0)";
              else
                ctx.fillStyle = makeColor(<%= tot_auto_cargo_ship_made / tot_auto_cargo_ship_attempts %>);
              aCaShPath.rect(aWidth / 1.606, aHeight / 2.455, aWidth / 3.212, aHeight / 11.458);
              ctx.stroke(aCaShPath);
              ctx.fill(aCaShPath);


              if (<%= tot_auto_off_level_one %> == 0)
                ctx.fillStyle = "rgba(0, 0, 0, 0)";
              else
                ctx.fillStyle = makeColor(<%= tot_auto_off_level_one / num_matches %>);
              aOffOnePath.rect(aWidth / 11.778, aHeight / 3.548, aWidth / 13.250, aHeight / 2.321);
              ctx.fill(aOffOnePath);

              if (<%= tot_auto_off_level_two %> == 0)
                ctx.fillStyle = "rgba(0, 0, 0, 0)";
              else
                ctx.fillStyle = makeColor(<%= tot_auto_off_level_two / num_matches %>);
              aOffTwoPath.rect(aWidth / 106.000, aHeight / 3.548, aWidth / 13.250, aHeight / 6.962);
              aOffTwoPath.rect(aWidth / 106.000, aHeight / 1.757, aWidth / 13.250, aHeight / 6.962);
              ctx.fill(aOffTwoPath);


              if (<%= tot_auto_hatch_hp_intake_made %> == 0)
                ctx.fillStyle = "rgba(0, 0, 0, 0)";
              else
                ctx.fillStyle = makeColor(<%= tot_auto_hatch_hp_intake_made / tot_auto_hatch_hp_intake_attempts %>);
              aHaHpPath.rect(aWidth / 106.000, aHeight / 1.264, aWidth / 11.778, aHeight / 8.462);
              ctx.stroke(aHaHpPath);
              ctx.fill(aHaHpPath);

              if (<%= tot_auto_hatch_floor_intake_made %> == 0)
                ctx.fillStyle = "rgba(0, 0, 0, 0)";
              else
                ctx.fillStyle = makeColor(<%= tot_auto_hatch_floor_intake_made / tot_auto_hatch_floor_intake_attempts %>);
              aHaFlPath.rect(aWidth / 3.897, aHeight / 1.523, aWidth / 9.636, aHeight / 10.000);
              ctx.stroke(aHaFlPath);
              ctx.fill(aHaFlPath);

              if (<%= tot_auto_cargo_floor_intake_made %> == 0)
                ctx.fillStyle = "rgba(0, 0, 0, 0)";
              else
                ctx.fillStyle = makeColor(<%= tot_auto_cargo_floor_intake_made / tot_auto_cargo_floor_intake_attempts %>);
              aCaFlPath.rect(aWidth / 3.897, aHeight / 4.231, aWidth / 9.636, aHeight / 10.000);
              ctx.stroke(aCaFlPath);
              ctx.fill(aCaFlPath);
              
              if (<%= tot_auto_cargo_depot_intake_made %> == 0)
                ctx.fillStyle = "rgba(0, 0, 0, 0)";
              else
                ctx.fillStyle = makeColor(<%= tot_auto_cargo_depot_intake_made / tot_auto_cargo_depot_intake_attempts %>);
              aCaDePath.rect(aWidth / 106.000, aHeight / 4.297, aWidth / 11.042, aHeight / 22.000);
              aCaDePath.rect(aWidth / 106.000, aHeight / 1.410, aWidth / 11.042, aHeight / 22.000);
              ctx.stroke(aCaDePath);
              ctx.fill(aCaDePath);


              ctx.drawImage(map_pic, 0, 0, aWidth / 1.06, aHeight);
            };

            let loadTeleHeatMap = (ctx) => {
              if (<%= avg_tele_hatch_rocket_high_attempts %> == 0)
                ctx.fillStyle = "rgba(0, 0, 0, 0)";
              else
                ctx.fillStyle = makeColor(<%= avg_tele_hatch_rocket_high_made / avg_tele_hatch_rocket_high_attempts %>);
              tHaRoHiPath.moveTo(tWidth / 2.409, tHeight / 1.087);
              tHaRoHiPath.bezierCurveTo(tWidth / 2.265, tHeight / 1.322, tWidth / 1.485, tHeight / 1.322, tWidth / 1.425, tHeight / 1.087);
              tHaRoHiPath.closePath();
              ctx.stroke(tHaRoHiPath);
              ctx.fill(tHaRoHiPath);
              
              if (<%= avg_tele_hatch_rocket_med_attempts %> == 0)
                ctx.fillStyle = "rgba(0, 0, 0, 0)";
              else
                ctx.fillStyle = makeColor(<%= avg_tele_hatch_rocket_med_made / avg_tele_hatch_rocket_med_attempts %>);
              tHaRoMePath.moveTo(tWidth / 2.790, tHeight / 1.087);
              tHaRoMePath.bezierCurveTo(tWidth / 2.265, tHeight / 1.425, tWidth / 1.485, tHeight / 1.425, tWidth / 1.318, tHeight / 1.087);
              tHaRoMePath.lineTo(tWidth / 1.425, tHeight / 1.087);
              tHaRoMePath.bezierCurveTo(tWidth / 1.485, tHeight / 1.322, tWidth / 2.265, tHeight / 1.322, tWidth / 2.409, tHeight / 1.087);
              tHaRoMePath.closePath();
              ctx.stroke(tHaRoMePath);
              ctx.fill(tHaRoMePath);

              if (<%= avg_tele_hatch_rocket_low_attempts %> == 0)
                ctx.fillStyle = "rgba(0, 0, 0, 0)";
              else
                ctx.fillStyle = makeColor(<%= avg_tele_hatch_rocket_low_made / avg_tele_hatch_rocket_low_attempts %>);
              tHaRoLoPath.moveTo(tWidth / 3.313, tHeight / 1.087);
              tHaRoLoPath.bezierCurveTo(tWidth / 2.265, tHeight / 1.545, tWidth / 1.485, tHeight / 1.545, tWidth / 1.227, tHeight / 1.087);
              tHaRoLoPath.lineTo(tWidth / 1.318, tHeight / 1.087);
              tHaRoLoPath.bezierCurveTo(tWidth / 1.485, tHeight / 1.425, tWidth / 2.265, tHeight / 1.425, tWidth / 2.789, tHeight / 1.087);
              tHaRoLoPath.closePath();
              ctx.stroke(tHaRoLoPath);
              ctx.fill(tHaRoLoPath);
              

              if (<%= avg_tele_cargo_rocket_high_attempts %> == 0)
                ctx.fillStyle = "rgba(0, 0, 0, 0)";
              else
                ctx.fillStyle = makeColor(<%= avg_tele_cargo_rocket_high_made / avg_tele_cargo_rocket_high_attempts %>);
              tCaRoHiPath.moveTo(tWidth / 2.409, tHeight / 14.474);
              tCaRoHiPath.bezierCurveTo(tWidth / 2.265, tHeight / 4.297, tWidth / 1.485, tHeight / 4.297, tWidth / 1.425, tHeight / 14.474);
              tCaRoHiPath.closePath();
              ctx.stroke(tCaRoHiPath);
              ctx.fill(tCaRoHiPath);
              
              if (<%= avg_tele_cargo_rocket_med_attempts %> == 0)
                ctx.fillStyle = "rgba(0, 0, 0, 0)";
              else
                ctx.fillStyle = makeColor(<%= avg_tele_cargo_rocket_med_made / avg_tele_cargo_rocket_med_attempts %>);
              tCaRoMePath.moveTo(tWidth / 2.790, tHeight / 14.474);
              tCaRoMePath.bezierCurveTo(tWidth / 2.265, tHeight / 3.481, tWidth / 1.485, tHeight / 3.481, tWidth / 1.318, tHeight / 14.474);
              tCaRoMePath.lineTo(tWidth / 1.425, tHeight / 14.474);
              tCaRoMePath.bezierCurveTo(tWidth / 1.485, tHeight / 4.297, tWidth / 2.265, tHeight / 4.297, tWidth / 2.409, tHeight / 14.474);
              tCaRoMePath.closePath();
              ctx.stroke(tCaRoMePath);
              ctx.fill(tCaRoMePath);

              if (<%= avg_tele_cargo_rocket_low_attempts %> == 0)
                ctx.fillStyle = "rgba(0, 0, 0, 0)";
              else
                ctx.fillStyle = makeColor(<%= avg_tele_cargo_rocket_low_made / avg_tele_cargo_rocket_low_attempts %>);
              tCaRoLoPath.moveTo(tWidth / 3.313, tHeight / 14.474);
              tCaRoLoPath.bezierCurveTo(tWidth / 2.265, tHeight / 2.926, tWidth / 1.485, tHeight / 2.926, tWidth / 1.227, tHeight / 14.474);
              tCaRoLoPath.lineTo(tWidth / 1.318, tHeight / 14.474);
              tCaRoLoPath.bezierCurveTo(tWidth / 1.485, tHeight / 3.481, tWidth / 2.265, tHeight / 3.481, tWidth / 2.790, tHeight / 14.474);
              tCaRoLoPath.closePath();
              ctx.stroke(tCaRoLoPath);
              ctx.fill(tCaRoLoPath);


              if (<%= avg_tele_hatch_ship_attempts %> == 0)
                ctx.fillStyle = "rgba(0, 0, 0, 0)";
              else
                ctx.fillStyle = makeColor(<%= avg_tele_hatch_ship_made / avg_tele_hatch_ship_attempts %>);
              tHaShPath.rect(tWidth / 1.606, tHeight / 2.022, tWidth / 3.212, tHeight / 11.458);
              ctx.stroke(tHaShPath);
              ctx.fill(tHaShPath);

              if (<%= avg_tele_cargo_ship_attempts %> == 0)
                ctx.fillStyle = "rgba(0, 0, 0, 0)";
              else
                ctx.fillStyle = makeColor(<%= avg_tele_cargo_ship_made / avg_tele_cargo_ship_attempts %>);
              tCaShPath.rect(tWidth / 1.606, tHeight / 2.455, tWidth / 3.212, tHeight / 11.458);
              ctx.stroke(tCaShPath);
              ctx.fill(tCaShPath);


              if (<%= tot_tele_climb_level_one_made %> == 0)
                ctx.fillStyle = "rgba(0, 0, 0, 0)";
              else
                ctx.fillStyle = makeColor(<%= tot_tele_climb_level_one_made / tot_tele_climb_level_one_attempts %>);
              tClOnePath.rect(tWidth / 11.778, tHeight / 3.548, tWidth / 13.250, tHeight / 2.321);
              ctx.fill(tClOnePath);

              if (<%= tot_tele_climb_level_two_made %> == 0)
                ctx.fillStyle = "rgba(0, 0, 0, 0)";
              else
                ctx.fillStyle = makeColor(<%= tot_tele_climb_level_two_made / tot_tele_climb_level_two_attempts %>);
              tClTwoPath.rect(tWidth / 106.000, tHeight / 3.548, tWidth / 13.250, tHeight / 6.962);
              tClTwoPath.rect(tWidth / 106.000, tHeight / 1.757, tWidth / 13.250, tHeight / 6.962);
              ctx.fill(tClTwoPath);

              if (<%= tot_tele_climb_level_three_made %> == 0)
                ctx.fillStyle = "rgba(0, 0, 0, 0)";
              else
                ctx.fillStyle = makeColor(<%= tot_tele_climb_level_three_made / tot_tele_climb_level_three_attempts %>);
              tClThreePath.rect(tWidth / 106.000, tHeight / 2.340, tWidth / 13.250, tHeight / 7.143);
              ctx.fill(tClThreePath);


              if (<%= avg_tele_hatch_hp_intake_made %> == 0)
                ctx.fillStyle = "rgba(0, 0, 0, 0)";
              else
                ctx.fillStyle = makeColor(<%= avg_tele_hatch_hp_intake_made / avg_tele_hatch_hp_intake_attempts %>);
              tHaHpPath.rect(tWidth / 106.000, tHeight / 1.264, tWidth / 11.778, tHeight / 8.462);
              ctx.stroke(tHaHpPath);
              ctx.fill(tHaHpPath);

              if (<%= avg_tele_hatch_floor_intake_made %> == 0)
                ctx.fillStyle = "rgba(0, 0, 0, 0)";
              else
                ctx.fillStyle = makeColor(<%= avg_tele_hatch_floor_intake_made / avg_tele_hatch_floor_intake_attempts %>);
              tHaFlPath.rect(tWidth / 3.897, tHeight / 1.523, tWidth / 9.636, tHeight / 10.000);
              ctx.stroke(tHaFlPath);
              ctx.fill(tHaFlPath);

              if (<%= avg_tele_cargo_hp_intake_made %> == 0)
                ctx.fillStyle = "rgba(0, 0, 0, 0)";
              else
                ctx.fillStyle = makeColor(<%= avg_tele_cargo_hp_intake_made / avg_tele_cargo_hp_intake_attempts %>);
              tCaHpPath.rect(tWidth / 106.000, tHeight / 12.222, tWidth / 11.778, tHeight / 8.462);
              ctx.stroke(tCaHpPath);
              ctx.fill(tCaHpPath);

              if (<%= avg_tele_cargo_floor_intake_made %> == 0)
                ctx.fillStyle = "rgba(0, 0, 0, 0)";
              else
                ctx.fillStyle = makeColor(<%= avg_tele_cargo_floor_intake_made / avg_tele_cargo_floor_intake_attempts %>);
              tCaFlPath.rect(tWidth / 3.897, tHeight / 4.231, tWidth / 9.636, tHeight / 10.000);
              ctx.stroke(tCaFlPath);
              ctx.fill(tCaFlPath);

              if (<%= avg_tele_cargo_depot_intake_made %> == 0)
                ctx.fillStyle = "rgba(0, 0, 0, 0)";
              else
                ctx.fillStyle = makeColor(<%= avg_tele_cargo_depot_intake_made / avg_tele_cargo_depot_intake_attempts %>);
              tCaDePath.rect(tWidth / 106.000, tHeight / 4.297, tWidth / 11.042, tHeight / 22.000);
              tCaDePath.rect(tWidth / 106.000, tHeight / 1.410, tWidth / 11.042, tHeight / 22.000);
              ctx.fill(tCaDePath);


              ctx.drawImage(map_pic, 0, 0, tWidth / 1.06, tHeight);
            };
            map_pic.onload = () => {
              loadAutoHeatMap(auto_ctx);
              loadTeleHeatMap(tele_ctx);
            };
          </script>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-7 col-xs-12" style="font-size: 14px; top: 0px;">
          <%- auto_desc_table %>

          <canvas id="hatch_trend"></canvas>
          <canvas id="cargo_trend"></canvas>
          <canvas id="intake_trend"></canvas>

          <script type="text/javascript">
            var hatch_data = {
              labels: [<%= trend_labels %> 'Next'],
              datasets: [
                {
                  label: "Rocket Low",
                  backgroundColor: "rgba(255,166,158,0.2)",
                  borderColor: "rgba(255,166,158,1)",
                  pointBorderColor: "#000",
                  data: [<%= hatch_rocket_low_trend %>]
                },
                {
                  label: "Rocket Medium",
                  backgroundColor: "rgba(201,235,148,0.2)",
                  borderColor: "rgba(201,235,148,1)",
                  pointBorderColor: "#000",
                  data: [<%= hatch_rocket_med_trend %>]
                },
                {
                  label: "Rocket High",
                  backgroundColor: "rgba(151,187,205,0.2)",
                  borderColor: "rgba(151,187,205,1)",
                  pointBorderColor: "#000",
                  data: [<%= hatch_rocket_high_trend %>]
                },
                {
                  label: "Cargo Ship",
                  backgroundColor: "rgba(168,254,254,0.2)",
                  borderColor: "rgba(168,254,254,1)",
                  pointBorderColor: "#000",
                  data: [<%= hatch_ship_trend %>]
                },
                {
                  label: "Total",
                  backgroundColor: "rgba(228,156,255,0.2)",
                  borderColor: "rgba(228,156,255,1)",
                  pointBorderColor: "#000",
                  data: [<%= hatch_comb_trend %>]
                }
              ]
            };

            var cargo_data = {
              labels: [<%= trend_labels %> 'Next'],
              datasets: [
                {
                  label: "Rocket Low",
                  backgroundColor: "rgba(255,166,158,0.2)",
                  borderColor: "rgba(255,166,158,1)",
                  pointBorderColor: "#000",
                  data: [<%= cargo_rocket_low_trend %>]
                },
                {
                  label: "Rocket Medium",
                  backgroundColor: "rgba(201,235,148,0.2)",
                  borderColor: "rgba(201,235,148,1)",
                  pointBorderColor: "#000",
                  data: [<%= cargo_rocket_med_trend %>]
                },
                {
                  label: "Rocket High",
                  backgroundColor: "rgba(151,187,205,0.2)",
                  borderColor: "rgba(151,187,205,1)",
                  pointBorderColor: "#000",
                  data: [<%= cargo_rocket_high_trend %>]
                },
                {
                  label: "Cargo Ship",
                  backgroundColor: "rgba(168,254,254,0.2)",
                  borderColor: "rgba(168,254,254,1)",
                  pointBorderColor: "#000",
                  data: [<%= cargo_ship_trend %>]
                },
                {
                  label: "Total",
                  backgroundColor: "rgba(228,156,255,0.2)",
                  borderColor: "rgba(228,156,255,1)",
                  pointBorderColor: "#000",
                  data: [<%= cargo_comb_trend %>]
                }
              ]
            };
          
            var intake_data = {
              labels: [<%= trend_labels %> 'Next'],
              datasets: [
                {
                  label: "Hatch HP",
                  backgroundColor: "rgba(255,166,158,0.2)",
                  borderColor: "rgba(255,166,158,1)",
                  pointBorderColor: "#000",
                  data: [<%= hatch_hp_trend %>]
                },
                {
                  label: "Hatch Floor",
                  backgroundColor: "rgba(201,235,148,0.2)",
                  borderColor: "rgba(201,235,148,1)",
                  pointBorderColor: "#000",
                  data: [<%= hatch_floor_trend %>]
                },
                {
                  label: "Cargo HP",
                  backgroundColor: "rgba(151,187,205,0.2)",
                  borderColor: "rgba(151,187,205,1)",
                  pointBorderColor: "#000",
                  data: [<%= cargo_hp_trend %>]
                },
                {
                  label: "Cargo Floor",
                  backgroundColor: "rgba(247,239,118,0.2)",
                  borderColor: "rgba(247,239,118,1)",
                  pointBorderColor: "#000",
                  data: [<%= cargo_floor_trend %>]
                },
                {
                  label: "Cargo Depot",
                  backgroundColor: "rgba(228,156,255,0.2)",
                  borderColor: "rgba(228,156,255,1)",
                  pointBorderColor: "#000",
                  data: [<%= cargo_depot_trend %>]
                }
              ]
            };
              
            var ctx = document.getElementById("intake_trend").getContext("2d");
            var ctx1 = document.getElementById("hatch_trend").getContext("2d");
            var ctx2 = document.getElementById("cargo_trend").getContext("2d");
            var myLineChart = new Chart(ctx, { 
              type: 'line',
              data: intake_data,
              options: {
                responsive: true,
                title: {
                  display: true,
                  text: 'Intake Trend',
                  fontSize: 16
                },
                scales: {
                  yAxes: [{
                    ticks: {
                      suggestedMin: 0,
                      suggestedMax: 20,
                      stepSize: 2
                    }
                  }]
                },
                tooltips: {
                  intersect: false,
                  mode: 'index',
                  callbacks: {
                    labelColor: function(tooltipItem, chart) {
                      var dataset = chart.config.data.datasets[tooltipItem.datasetIndex];
                      return {
                        backgroundColor : dataset.borderColor
                      }
                    }
                  }
                }
              }
            });
            var myLineChart1 = new Chart(ctx1, { 
              type: 'line',
              data: hatch_data,
              options: {
                responsive: true,
                title: {
                  display: true,
                  text: 'Hatch Trend',
                  fontSize: 16
                },
                scales: {
                  yAxes: [{
                    ticks: {
                      suggestedMin: 0,
                      suggestedMax: 10,
                      stepSize: 1
                    }
                  }]
                },
                tooltips: {
                  intersect: false,
                  mode: 'index',
                  callbacks: {
                    labelColor: function(tooltipItem, chart) {
                      var dataset = chart.config.data.datasets[tooltipItem.datasetIndex];
                      return {
                        backgroundColor : dataset.borderColor
                      }
                    }
                  }
                }
              }
            });
            var myLineChart2 = new Chart(ctx2, { 
              type: 'line',
              data: cargo_data,
              options: {
                responsive: true,
                title: {
                  display: true,
                  text: 'Cargo Trend',
                  fontSize: 16
                },
                scales: {
                  yAxes: [{
                    ticks: {
                      suggestedMin: 0,
                      suggestedMax: 10,
                      stepSize: 1
                    }
                  }]
                },
                tooltips: {
                  intersect: false,
                  mode: 'index',
                  callbacks: {
                    labelColor: function(tooltipItem, chart) {
                      var dataset = chart.config.data.datasets[tooltipItem.datasetIndex];
                      return {
                        backgroundColor : dataset.borderColor
                      }
                    }
                  }
                }
              }
            });
          </script>
        </div>
        <div class="col-lg-5 col-xs-12">
          <h3><u>Priority Data</u></h3>
          <table class="table">
            <tr>
              <td><h5 style="margin-top:0;">Auto Hatches Made: <%= avg_auto_hatch_made %></h5></td>
              <td style="text-align:right;"><h5 style="margin-top:0;">Auto Cargo Made: <%= avg_auto_cargo_made %></h5></td>
            </tr>
            <tr>
              <td><h5 style="margin-top:0;">Tele Hatches Made: <%= avg_tele_hatch_made %></h5></td>
              <td style="text-align:right;"><h5 style="margin-top:0;">Tele Cargo Made: <%= avg_tele_cargo_made %></h5></td>
            </tr>
            <tr>
              <td><h5 style="margin-top:0;">Auto Cross Points: <%= avg_auto_cross_points %></h5></td>
              <td style="text-align:right;"><h5 style="margin-top:0;">Tele H/C Points: <%= avg_tele_hatch_cargo_points %></h5></td>
            </tr>
            <tr>
              <td><h5 style="margin-top:0;">Tele Climb Points: <%= avg_tele_climb_points %></h5></td>
              <td style="text-align:right;"><h5 style="margin-top:0;">Net Contrib. Points: <%= avg_net_contributed_points %></h5></td>
            </tr>
            <tr>
              <td><h5 style="margin-top:0;">Driver Rating: <%= avg_driver_rating %></h5></td>
              <td style="text-align:right;"><h5 style="margin-top:0;">Comm. Deaths: <%= tot_tele_deaths %></h5></td>
            </tr>
          </table>
        </div>
        <div class="col-lg-5 col-xs-12">
          <h3><u>Autonomous Data</u></h3>
          <table class="table">
            <tr>
              <td><h5 style="margin-top:0;">L/M/R Starts: <%= tot_auto_start_left %> / <%= tot_auto_start_center %> / <%= tot_auto_start_right %></h5></td>
              <td style="text-align:right;"><h5 style="margin-top:0;">Auton/Hybrid Mode: <%= tot_auto_mode_auton %> / <%= tot_auto_mode_hybrid %></h5></td>
            </tr>
            <tr>
              <td><h5 style="margin-top:0;">Off Level One: <%= tot_auto_off_level_one %></h5></td>
              <td style="text-align:right;"><h5 style="margin-top:0;">Off Level Two: <%= tot_auto_off_level_two %></h5></td>
            </tr>
            <tr>
              <td><h5 style="margin-top:0;">Hatch HP Intake: <%= tot_auto_hatch_hp_intake_made %> / <%= tot_auto_hatch_hp_intake_attempts %></h5></td>
              <td style="text-align:right;"><h5 style="margin-top:0;">Hatch Floor Intake: <%= tot_auto_hatch_floor_intake_made %> / <%= tot_auto_hatch_floor_intake_attempts %></h5></td>
            </tr>
            <tr>
              <td><h5 style="margin-top:0;">Cargo Floor Intake: <%= tot_auto_cargo_floor_intake_made %> / <%= tot_auto_cargo_floor_intake_attempts %></h5></td>
              <td style="text-align:right;"><h5 style="margin-top:0;">Cargo Depot Intake: <%= tot_auto_cargo_depot_intake_made %> / <%= tot_auto_cargo_depot_intake_attempts %></h5></td>
            </tr>
            <tr>
              <td><h5 style="margin-top:0;">Hatch Rocket Low: <%= tot_auto_hatch_rocket_low_made %> / <%= tot_auto_hatch_rocket_low_attempts %></h5></td>
              <td style="text-align:right;"><h5 style="margin-top:0;">Hatch Rocket Medium: <%= tot_auto_hatch_rocket_med_made %> / <%= tot_auto_hatch_rocket_med_attempts %></h5></td>
            </tr>
            <tr>
              <td><h5 style="margin-top:0;">Hatch Rocket High: <%= tot_auto_hatch_rocket_high_made %> / <%= tot_auto_hatch_rocket_high_attempts %></h5></td>
              <td style="text-align:right;"><h5 style="margin-top:0;">Hatch Cargo Ship: <%= tot_auto_hatch_ship_made %> / <%= tot_auto_hatch_ship_attempts %></h5></td>
            </tr>
            <tr>
              <td><h5 style="margin-top:0;">Hatch Int. Drops: <%= tot_auto_hatch_int_drops %></h5></td>
              <td style="text-align:right;"><h5 style="margin-top:0;">Hatch Knockouts: <%= tot_auto_hatch_knockouts %></h5></td>
            </tr>
            <tr>
              <td><h5 style="margin-top:0;">Cargo Rocket Low: <%= tot_auto_cargo_rocket_low_made %> / <%= tot_auto_cargo_rocket_low_attempts %></h5></td>
              <td style="text-align:right;"><h5 style="margin-top:0;">Cargo Rocket Medium: <%= tot_auto_cargo_rocket_med_made %> / <%= tot_auto_cargo_rocket_med_attempts %></h5></td>
            </tr>
            <tr>
              <td><h5 style="margin-top:0;">Cargo Rocket High: <%= tot_auto_cargo_rocket_high_made %> / <%= tot_auto_cargo_rocket_high_attempts %></h5></td>
              <td style="text-align:right;"><h5 style="margin-top:0;">Cargo Cargo Ship: <%= tot_auto_cargo_ship_made %> / <%= tot_auto_cargo_ship_attempts %></h5></td>
            </tr>
            <tr>
              <td><h5 style="margin-top:0;">Cargo Int. Drops: <%= tot_auto_cargo_int_drops %></h5></td>
              <td style="text-align:right;"><h5 style="margin-top:0;">Cargo Knockouts: <%= tot_auto_cargo_knockouts %></h5></td>
            </tr>
          </table>
          <h3><u>Teleop Data</u></h3>
          <table class="table">
            <tr>
              <td><h5 style="margin-top:0;">Hatch HP Intake: <%= avg_tele_hatch_hp_intake_made %> / <%= avg_tele_hatch_hp_intake_attempts %></h5></td>
              <td style="text-align:right;"><h5 style="margin-top:0;">Hatch Floor Intake: <%= avg_tele_hatch_floor_intake_made %> / <%= avg_tele_hatch_floor_intake_attempts %></h5></td>
            </tr>
            <tr>
              <td><h5 style="margin-top:0;">Cargo HP Intake: <%= avg_tele_cargo_hp_intake_made %> / <%= avg_tele_cargo_hp_intake_attempts %></h5></td>
              <td style="text-align:right;"><h5 style="margin-top:0;">Cargo Floor Intake: <%= avg_tele_cargo_floor_intake_made %> / <%= avg_tele_cargo_floor_intake_attempts %></h5></td>
            </tr>
            <tr>
                <td><h5 style="margin-top:0;">Cargo Depot Intake: <%= avg_tele_cargo_depot_intake_made %> / <%= avg_tele_cargo_depot_intake_attempts %></h5></td>
                <td />
            </tr>
            <tr>
              <td><h5 style="margin-top:0;">Hatch Rocket Low: <%= avg_tele_hatch_rocket_low_made %> / <%= avg_tele_hatch_rocket_low_attempts %></h5></td>
              <td style="text-align:right;"><h5 style="margin-top:0;">Hatch Rocket Medium: <%= avg_tele_hatch_rocket_med_made %> / <%= avg_tele_hatch_rocket_med_attempts %></h5></td>
            </tr>
            <tr>
              <td><h5 style="margin-top:0;">Hatch Rocket High: <%= avg_tele_hatch_rocket_high_made %> / <%= avg_tele_hatch_rocket_high_attempts %></h5></td>
              <td style="text-align:right;"><h5 style="margin-top:0;">Hatch Cargo Ship: <%= avg_tele_hatch_ship_made %> / <%= avg_tele_hatch_ship_attempts %></h5></td>
            </tr>
            <tr>
              <td><h5 style="margin-top:0;">Hatch Int. Drops: <%= avg_tele_hatch_int_drops %></h5></td>
              <td style="text-align:right;"><h5 style="margin-top:0;">Hatch Knockouts: <%= avg_tele_hatch_knockouts %></h5></td>
            </tr>
            <tr>
              <td><h5 style="margin-top:0;">Cargo Rocket Low: <%= avg_tele_cargo_rocket_low_made %> / <%= avg_tele_cargo_rocket_low_attempts %></h5></td>
              <td style="text-align:right;"><h5 style="margin-top:0;">Cargo Rocket Medium: <%= avg_tele_cargo_rocket_med_made %> / <%= avg_tele_cargo_rocket_med_attempts %></h5></td>
            </tr>
            <tr>
              <td><h5 style="margin-top:0;">Cargo Rocket High: <%= avg_tele_cargo_rocket_high_made %> / <%= avg_tele_cargo_rocket_high_attempts %></h5></td>
              <td style="text-align:right;"><h5 style="margin-top:0;">Cargo Cargo Ship: <%= avg_tele_cargo_ship_made %> / <%= avg_tele_cargo_ship_attempts %></h5></td>
            </tr>
            <tr>
              <td><h5 style="margin-top:0;">Cargo Int. Drops: <%= avg_tele_cargo_int_drops %></h5></td>
              <td style="text-align:right;"><h5 style="margin-top:0;">Cargo Knockouts: <%= avg_tele_cargo_knockouts %></h5></td>
            </tr>
            <tr>
              <td><h5 style="margin-top:0;">Climb Level One: <%= tot_tele_climb_level_one_made %> / <%= tot_tele_climb_level_one_attempts %></h5></td>
              <td style="text-align:right;"><h5 style="margin-top:0;">Climb Level Two: <%= tot_tele_climb_level_two_made %> / <%= tot_tele_climb_level_two_attempts %></h5></td>
            </tr>
            <tr>
              <td><h5 style="margin-top:0;">Climb Level Three: <%= tot_tele_climb_level_three_made %> / <%= tot_tele_climb_level_three_attempts %></h5></td>
              <td style="text-align:right;"><h5 style="margin-top:0;">Assisted Climb: <%= tot_tele_climb_assisted %></h5></td>
            </tr>
            <tr>
              <td><h5 style="margin-top:0;">Start Time: <%= avg_tele_climb_start_time %></h5></td>
              <td style="text-align:right;"><h5 style="margin-top:0;">Elapsed Time: <%= avg_tele_climb_elapsed_time %></h5></td>
            </tr>
            <tr>
              <td><h5 style="margin-top:0;">Level Two Assist: <%= tot_tele_climb_assist_level_two_made %> / <%= tot_tele_climb_assist_level_two_attempts %></h5></td>
              <td style="text-align:right;"><h5 style="margin-top:0;">Level Three Assist: <%= tot_tele_climb_assist_level_three_made %> / <%= tot_tele_climb_assist_level_three_attempts %></h5></td>
            </tr>
            <tr>
              <td><h5 style="margin-top:0;">Driver Rating: <%= avg_driver_rating %></h5></td>
              <td style="text-align:right;"><h5 style="margin-top:0;">Defense Rating: <%= avg_defense_rating %></h5></td>
            </tr>
            <tr>
              <td><h5 style="margin-top:0;">Comm. Deaths: <%= tot_tele_deaths %></h5></td>
              <td />
            </tr>
            <tr>
              <td><h5 style="margin-top:0;">Contributed Offense: <%= avg_contributed_offense %></h5></td>
              <td style="text-align:right;"><h5 style="margin-top:0;">Contributed Defense: <%= avg_contributed_defense %></h5></td>
            </tr>
            <tr>
              <td><h5 style="margin-top:0;">Points Lost to Defense: <%= avg_defense_points_lost %></h5></td>
              <td style="text-align:right;"><h5 style="margin-top:0;">Net Contributed Points: <%= avg_contributed_offense+avg_contributed_defense-avg_defense_points_lost %></h5></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </main>

  <footer>
    <% include ../partials/footer %>
  </footer>
</body>
</html>
